[2020-11-24 21:31] josevalim opened #47 "Allow on device references"
* [x] keep_on_device should default to false
* [x] when keep_on_device is true, it returns a ref (both for CPU and GPU)
* [x] the ref will have two functions: read and deallocate - deallocating sets the buffer it holds to null
* [x] trying to read a deallocated ref will raise a proper error. deallocating a deallocated ref just works
* [x] whenever a ref is given to run, it will be deallocated at t

[2020-11-25 17:03] josevalim opened #49 "Fix memory leak on cpu platform with non-zero copied binaries"
Today `exla_client.cc` will only zero copy binaries under certain conditions but `run` treats it as if zero-copy always happens.

My suggestion is to break this function in three: one for zero copy allocation and one for device allocation. Then in run, we will try to zero copy and if not, we call the device allocation function, storing the results of zero-copying or not in a separate vector.

Then

[2020-11-26 19:17] #49 closed, assigned to nobody

[2020-11-28 17:08] josevalim opened #59 "Add streaming device allocation"
For example, if we need to load 2GB of data. Now we need to first load it into the memory and then load it into the GPU. We would like to that without having to load it all onto the CPU first.

The biggest question is what would be the API on the Elixir side. We could have a `Stream` based one (immutable) or a process-based one (mutable). Perhaps both?

[2020-11-28 17:12] josevalim opened #60 "Introduce Nx.Device"
Proposal: we will change the `:data` field of `Nx.Tensor` to be a
`{device_module, term}`. The default is `{Nx.BinaryDevice, binary}`.

All functions in `Nx` will expect the device to be the binary device.
If the device is elsewhere (think GPU), then it needs to be either
read or transferred.

[code]

## The Nx.Device behaviour

[code]

[2020-11-28 17:18] josevalim opened #61 "Tag dirty NIFs"
We will want to make tag long running NIFs as dirty. Probably `compile` (dirty CPU NIF) and `run` (should have two versions, the CPU one is a dirty CPU NIF, and the GPU one is a dirty IO NIF).

[2020-11-28 17:53] #47 closed, assigned to seanmor5

[2020-11-28 18:28] seanmor5 opened #62 "Pin EXLA to a TF Stable Release"
Right now, we're working off a recent TF master revision. We'll want to pin to a more stable release instead, and then work out a process for periodically updating the TF version.

[2020-11-30 06:30] #60 closed, assigned to josevalim

[2020-11-30 08:41] josevalim opened #69 "Support bf16 on Exla"
We are not currently matching on the type on the c++ side of things.

[2020-11-30 12:24] josevalim opened #71 "Reading wrong binary from device"
If you wrap the contents of this test in a for:

https://github.com/elixir-nx/exla/blob/main/test/exla/nx_device_test.exs#L4

Like this:

[code]

Then it fails with a 100% certainty for me. I think we are doing either one of:

1. When sending data to the device, we are using zero-copy (which we shouldn't, we should only do zero-copy on run, since we know the binary can't be GCed meanwhile)

2. Whe

[2020-11-30 14:20] #71 closed, assigned to nobody

[2020-12-01 21:16] josevalim opened #76 "Nx roadmap"
* [x] Random generators
* [x] Unary ops
* [x] Element-wise binary ops
* [x] Element-wise comparison ops
* [x] Other operations provided by XLA as needed
* [x] FP16 types
* [ ] Complex types
* [ ] Handling of NaN and Infinity (?)

[2020-12-01 21:18] josevalim opened #77 "defn roadmap"
Constructs:

* [x] Math operators
* [x] Bit operators
* [x] Logical operators
* [ ] Slices (access + put_in/update_in)
* [x] Conditionals (if/cond)
* [x] Tuples (with pattern matching)
* [ ] Loops (for? while?)
* [x] Support random functions
* [x] Default arguments

Passes:

* [x] Autograd
* [ ] vmap
* [ ] pmap

[2020-12-02 05:44] josevalim opened #79 "device roadmap"
* [x] Streamline and document device ordinal handling
* [x] Add an option to return supported platforms
* [x] Allocate data on multiple devices by a given dimension
* [x] Stream data into device
* [x] Stream data into multiple devices (for pmap)
* [x] Read data from multiple devices into a single binary (for pmap)

[2020-12-05 19:47] josevalim opened #84 "Study if we can reduce the size of .so file"

[2020-12-11 13:27] josevalim opened #92 "Introduce defn ="
I would like to collect your opinion on introducing a `defn` variant that uses the equal sign, so instead of this:

    defn tanh(_shape, y, _x), do: 1.0 - y * y

we can write this:

    defn tanh(_shape, y, _x) = 1.0 - y * y

The pro is that it looks closer to mathematical definitions and it is less verbose. The cons is that it looks less like regular Elixir code but it can be a plus to help find

[2020-12-15 08:47] josevalim opened #96 "Implement mean and transpose for EXLA's defn"

[2020-12-16 08:52] josevalim opened #99 "Should we allow Nx functions to be called with lists?"
For example, should this be allowed?

    Nx.add([1, 2, 3], [4, 5, 6])

In any case, it will still return tensors.

[2020-12-16 15:00] #96 closed, assigned to nobody

[2020-12-16 15:13] josevalim opened #100 "Always call tensor on inputs in Nx / Nx.Util"

[2020-12-16 19:52] #99 closed, assigned to nobody

[2020-12-16 19:52] #100 closed, assigned to seanmor5

[2020-12-17 07:16] josevalim opened #104 "Named tensors"
This is a discussion that showed up internally and apparently there is a similar movement in PyTorch: http://nlp.seas.harvard.edu/NamedTensor

Some questions are:

1. Should we provide some default names?

2. Should we support constant names? i.e. have :i, :j, :k, etc work regardless of the names in the tensor. This can allow people to create generic algorithms without hardcoding dimensions.

3. S

[2020-12-28 18:16] josevalim opened #117 "Support f16"
Requires https://github.com/erlang/otp/pull/2890

On both Nx and Exla.

[2020-12-28 18:19] #79 closed, assigned to nobody

[2020-12-28 18:29] josevalim opened #118 "Support complex types"

[2020-12-28 18:30] josevalim opened #119 "Handling of NaN and infinity"
Today Nx operations fail if they find a NaN and/or Infinity (although defn behaviour will be compiler independent). Do we need to implement handling of NaN and infinity within Nx? What are the use cases?

[2020-12-28 18:30] #76 closed, assigned to nobody

[2021-01-01 11:19] josevalim opened #121 "Add types to Nx.Defn.Expr"
Then we make Exla work with a superset of the given types, keeping its internal representation as much as possible.

This means we can implement quantization, type replacement, and similar with Expr instead of implementing it for each compiler.

[2021-01-02 09:40] josevalim opened #122 "Introduce while loops"
I would like to add a higher-level looping construct to `defn`. In Elixir, we can use `for+:reduce` but I am afraid it will be too verbose and foreign for new users. Let's imagine we want to translate this python code:

[code]

With for+:reduce, we would write it as:

[code]

I propose we introduce a loop construct, inspired by [futhark](https://futhark-lang.org/) that looks like this:

[code]

Re

[2021-01-02 09:50] josevalim opened #123 "Make Nx a meta module"
I have been reading more into sparse matrices and one of the issues in scikit learn is that, when you have a sparse matrix, it is extremely discouraged that you use `np` functions because they would lose their sparse properties. Instead, you should use the sparse specific versions.

While this is a fine recommendation (and generally suitable to Elixir), it introduces an issue in that `defn` functi

[2021-01-04 12:45] #61 closed, assigned to nobody

[2021-01-04 13:03] seanmor5 opened #125 "GPU transfer from NIF on run causes OOM"
Currently, we explicitly transfer buffers to the device before calling the `run` NIF from within `Exla.Executable.run` when the platform is a GPU like this:

[code]

Originally, this was done to decouple what could have made the `run` NIF IO bound or CPU bound. After determining the GPU case is always closer to IO bound, we no longer need this logic; however, removing it leads to OOM errors on the

[2021-01-04 14:45] #69 closed, assigned to nobody

[2021-01-04 20:37] seanmor5 opened #127 "Implement Infeed/Outfeed Ops"
I have been reading a bit about XLAs Infeed/Outfeed Ops and how they can be used to send data to/from the device to host during a computation, which presents an opportunity for what I think would be significant performance increases.

JAX currently holds the [MLPerf records](https://cloud.google.com/blog/products/ai-machine-learning/google-breaks-ai-performance-records-in-mlperf-with-worlds-fastes

[2021-01-07 22:35] #121 closed, assigned to nobody

[2021-01-07 22:36] #123 closed, assigned to nobody

[2021-01-08 10:12] josevalim opened #132 "Add to_heatmap"
We should introduce a `to_heatmap` conversion, similar to how it is done in [Matrex](https://github.com/versilov/matrex/).

The Nx.Util module seems to be the best candidate for having this function. Currently Nx.Util is handful of conversion functions from tensors to flat lists and scalars. However, we could also argue that heatmap belongs to `Nx` because in practice it is two operations:

1. Nor

[2021-01-08 18:22] josevalim opened #136 "Do not allow closures in computations"
* [ ] Validate that the function given to reduce is not really a closure (i.e. it does not accept parent's expressions

* [x] Make sure functions become expressions when handling Expr for grads (instead of invoked on the compiler)

[2021-01-08 19:46] seanmor5 opened #137 "Fix gradient for interior padding"
With #134 we now support interior padding, but unfortunately the gradient is broken for `Nx.pad`. In order to fix it, we will need to introduce `Nx.slice`

[2021-01-10 13:12] josevalim opened #140 "Rename Exla to EXLA"

[2021-01-11 18:54] #84 closed, assigned to nobody

[2021-01-11 19:00] #104 closed, assigned to nobody

[2021-01-11 20:31] #140 closed, assigned to nobody

[2021-01-11 21:17] #137 closed, assigned to nobody

[2021-01-12 11:06] #136 closed, assigned to nobody

[2021-01-12 17:49] josevalim opened #147 "Add reduce_window"

[2021-01-12 17:50] josevalim opened #148 "Add grad helpers"
At least `custom_grad` and `zero_grad`. Anything else @seanmor5?

[2021-01-14 16:38] #125 closed, assigned to nobody

[2021-01-14 20:10] #147 closed, assigned to nobody

[2021-01-14 20:19] josevalim opened #153 "Revisit pad to use weighted traverse"

[2021-01-14 23:36] seanmor5 opened #155 "Support common mathematical functions"
Leaving this here for tracking/discussion on what should and shouldn't be included. Looking at XLA/JAX/Numpy, these are some common ones we are missing:

- [x] acos
- [x] asin
- [x] atan
- [x] tan
- [x] acosh
- [x] asinh
- [x] atanh
- [x] cosh
- [x] sinh
- [x] erf
- [x] erfc
- [x] erf_inv

There are a few others as well that we should look into, but these seemed to be the most common.

[2021-01-20 01:01] seanmor5 opened #157 "Support common LinAlg primitives"
For now, at least:

- [x] QR decomposition
  - [x] (EXLA implementation missing)
- [x] LU decomposition
- [x] Cholesky decomposition
- [x] SVD
- [x] Eigen decomposition (hermitian)
- [ ] Eigen decomposition (general)
- [x] Triangular Solve
- [x] Norms (L0, L1, L2)
  - [x] ord: -2 for 2D missing
  - [x] nuclear missing

[2021-01-22 01:50] seanmor5 opened #161 "Add missing gradients"
Currently missing gradients for these functions:

- [x] Product
- [ ] Scatter Window Max
- [ ] Scatter Window Min
- [x] Scatter Add
- [x] LU Decomposition
- [x] Triangular Solve
- [x] SVD

[2021-01-22 16:51] josevalim opened #162 "Figure out a way to not discard the builds when swapping targets"
One option is to remove EXLA_TARGET. if that doesn't work, we should namespace the directories with the target.

[2021-01-23 00:02] seanmor5 opened #163 "Convolution causes segmentation fault"
I just built without docker, all tests passing except the Convolution causes a segmentation fault. I have a feeling it's a version issue, because it had a warning along these lines:

[code]

For reference:

- OS: Ubuntu 20.04, kernel 5.8.0-38-generic
- NVidia Driver Version: 460.32.03
- CUDA 11.0
- libcudnn-8.0.4

[2021-01-25 08:08] #163 closed, assigned to nobody

[2021-01-25 08:10] josevalim opened #167 "Add support for labelling coordinates"
xarray can provide a lot of guidance here: http://xarray.pydata.org/en/stable/

It would also be interesting to see tensor backends that target libraries/formats such as pandas/apache arrow and see the changes that we would need to make to model to support those.

[2021-01-25 22:46] seanmor5 opened #168 "Add common aggregate ops"
So far we have `mean` and `sum`, but we are missing:

- [x] `reduce_max`
- [x] `reduce_min`
- [x] `reduce_prod`

As well as variants for `reduce_window`:

- [ ] `reduce_window_sum`
- [ ] `reduce_window_mean`
- [ ] `reduce_window_max`
- [ ] `reduce_window_min`
- [ ] `reduce_window_prod`

We could also probably tackle the cumulative ops. We can also consider different names for these functions. Mayb

[2021-01-26 10:46] josevalim opened #170 "Add basic operator fusion to Nx.Defn"
While the EXLA compiler already performs operator fusion, we should also be able to do *some* operator fusion for the built-in compiler written in Elixir. We can fuse most unary operators and binary operators with constants to reduce the amount of traversals. It still won't hold a candle against compiled modes but it should be overall positive to performance.

[2021-01-26 15:15] elbow-jason opened #171 "Build Failure: No module named 'numpy'"
Checking out the project for the first time and encountered an error during the first build attempt running `mix test`:

[code]

Not sure what system info is needed for diagnosis. Some basic info:
[code]

[2021-01-26 15:17] #171 closed, assigned to nobody

[2021-01-26 17:15] josevalim opened #172 "Support :max_float_type"
`max_float_type` will rewrite all floats with equal or higher size to the given one.

### Compiler option

    @defn_compiler {EXLA, max_float_type: {:bf, 16}}

  * Pros: most efficient
  * Cons: each compiler has to implement it which can be error prone

### Transformer (like grad)

    max_float_type(expr, {:bf, 16})

  * Pros: one implementation for all compilers
  * Pros: easy to implement tha

[2021-01-27 06:35] #162 closed, assigned to seanmor5

[2021-01-27 14:09] josevalim opened #173 "Support slicing (known as Access in Elixir)"
Proposal still has to be drafted.

[2021-01-27 14:10] #77 closed, assigned to nobody

[2021-01-27 14:11] josevalim opened #174 "Support vmap"
See the tensorflow feature and linked paper: https://www.tensorflow.org/api_docs/python/tf/vectorized_map

[2021-01-27 23:33] seanmor5 opened #175 "Default arguments do not work with only 1 argument"
As an example, this does not compile:

[code]

But this does:

[code]

Even though `t` is unused.

[2021-01-27 23:47] seanmor5 opened #176 "Broadcasting a constant does not produce an Expr"
This test will not compile:

[code]

This test will compile but raise (at least on Nx.Defn backend):

[code]

[code]

This workaround will also raise:

[code]

[code]

[2021-01-28 01:26] seanmor5 opened #177 "Add `keep_dims` option to aggregate functions"
Most NumPy aggregate functions have a `keepdims` option that will keep the reduced dimensions as size 1 so the rank of the tensor stays the same. This is very easily implemented with some shape changes from `Nx` and an additional `reshape` in `EXLA`.

It's very common, especially in neural network ops. Numerous examples in here: https://github.com/google/flax/blob/master/flax/core/nn/normalization

[2021-01-28 07:48] #175 closed, assigned to nobody

[2021-01-28 08:14] #176 closed, assigned to nobody

[2021-01-29 15:56] bcardarella opened #178 "elixir_make retired and doesn't have permissions to mix.exs"
Following the README:

[code]

[2021-01-29 16:01] #178 closed, assigned to nobody

[2021-01-30 16:10] seanmor5 opened #181 "Support groups in convolution"
Grouped Convolutions are common enough that we should support them. Here's some discussion and papers on grouped convolutions: https://paperswithcode.com/method/grouped-convolution

XLA supports grouped convolutions with it's `feature_group_count` option (right now we always set it to 1). We will just need to add support for groups in the binary implementation of `Nx.conv`. This involves an additi

[2021-01-30 16:17] #177 closed, assigned to nobody

[2021-01-30 22:15] seanmor5 opened #182 "Make Nx.dot/4 aware of batch dimensions"
This is related to #174 so perhaps it's more appropriate to move this into the discussion in that issue.

Right now, the dot product is only aware of contracting dimensions. One example of something we can't support right now is a bilinear transformation like in: https://pytorch.org/docs/stable/nn.functional.html#bilinear

Given input shapes: `{a, b}, {z, b, c}, {a, c}`, for a bilinear transformat

[2021-01-31 20:22] elbow-jason opened #184 "Document common installation/compilation problems and solutions"
Can we add some guides (perhaps in the wiki) for compilation issues and potential solutions? Compilation issues are likely to be a common issue and it would be helpful (save time) for both contributors and users to have somewhere to begin troubleshooting. If nothing else this issue/fix is here for posterity.

### An Example

(Be kind. My formatting needs work.)

#### Description

When compiling wi

[2021-01-31 20:33] #184 closed, assigned to nobody

[2021-02-01 11:11] #132 closed, assigned to nobody

[2021-02-02 12:42] #168 closed, assigned to nobody

[2021-02-03 06:39] elbow-jason opened #191 "Nx.concatenate raises FunctionClauseError when called inside defn"
Code:

[code]

Error:
[code]
Works fine in iex:
[code]

[2021-02-03 08:09] #191 closed, assigned to nobody

[2021-02-03 12:19] #172 closed, assigned to nobody

[2021-02-06 18:31] #173 closed, assigned to nobody

[2021-02-09 09:01] #59 closed, assigned to nobody

[2021-02-09 09:01] #127 closed, assigned to nobody

[2021-02-09 09:05] #167 closed, assigned to nobody

[2021-02-09 10:11] josevalim opened #195 "Introduce Nx.Async"
Nx.Async is a protocol that enables asynchronous execution of `defn` code. This proposal is split in 4 parts:

  * [ ] Add low-level async execution API to EXLA (@seanmor5)
  * [ ] Adding async/await
  * [ ] Adding send/recv
  * EXLA implementation notes
      * [ ] Convert EXLA device to a process
      * [ ] Add bindings to transfer to infeed, transfer from outfeed, and outfeed_to_binary (@seanm

[2021-02-09 20:08] elbow-jason opened #196 "Allow tuple as `lengths in` Nx.slice"
In this code:
[code]
The `lengths` argument `[2, 2]` is essentially a shape.

Could we support passing `{2, 2}` ?

[code]

[2021-02-09 20:43] seanmor5 opened #197 "Convolution causes segmentation fault with cuDNN 8"
Some convolutions will lead to a segmentation fault when using cuDNN8. The segmentation fault seems to be an issue with how the dirty scheduler is interacting with CUDA. The issue was passed on to NVIDIA, and they are debugging.

Issue is reproducible from within a NIF as seen here: https://github.com/seanmor5/conv_seg_fault

And the related issue opened in TensorFlow: https://github.com/tensorflo

[2021-02-09 20:52] elbow-jason opened #198 "Proposal for adding Nx.int_divide/2 for integer division"
I propose the addition of a new Nx function `Nx.int_divide/2`.

#### What will it do?

It will perform integer division.

#### Why does Nx need it?

In Nx, the only division operation is `Nx.divide/2`. `Nx.divide/2` only returns floats. Operations using floats are contagious causing the promotion of floats to subsequent values thereby "infecting" values. This contagion leads (will lead) to code th

[2021-02-10 02:12] elbow-jason opened #199 "Nx.power/2 on BinaryTensor fails when exponent is negative"
Code:
[code]

`Nx.power/2` works as expected with EXLA:
[code]

[2021-02-10 06:48] #199 closed, assigned to nobody

[2021-02-10 08:21] josevalim opened #200 "Introduce Nx.Stream"
*This is an alternative to #195 (only section 3 is new)*.

Nx.Stream is a protocol that enables streaming execution of `defn` code. We will add a new function called `Nx.Defn.stream/3` and expects the following arguments:

  1. An anonymous function to be streamed. The anonymous function must have at least 2 arguments, each streamed tensor and the accumulator and it must return a 2-element tuple e

[2021-02-10 08:23] #195 closed, assigned to nobody

[2021-02-10 08:29] josevalim opened #201 "Introduce a tensor template"
#200 hints at the need of a tensor template: we need a tensor that has a shape, type, and names, but no data. This is very trivial to implement in our current codebase, but the biggest question is how we want to expose it. We have three options:

  1. Tell people to use something like `Nx.broadcast(0, shape)` - however that will allocate a large tensor in memory

  2. Have a `Nx.template(type, sha

[2021-02-10 08:35] josevalim opened #202 "Revisit Nx.Device"
Today we have a Nx.Device behavior which is used by Nx.BinaryTensor but now that we have tensor backends, we don't need the devices anymore. Instead, EXLA and friends can implement their own tensor backends that raise on all operations except the transfer/deallocate related ones.

If we do this, we should:

  * [ ] Rename `device_transfer` and `device_deallocate` to `backend_transfer` and `backend

[2021-02-10 22:30] josevalim opened #204 "Remove run_parallel and sharded buffer"
Due to the work towards Nx.Async, we don't need to coordinate at this level anymore. So we can remove both run_parallel and sharded buffer. Removing run_parallel will also likely allow some minor clean up on the C++ side of things as some code was added specifically to support it.

[2021-02-10 23:09] #204 closed, assigned to seanmor5

[2021-02-11 10:36] #196 closed, assigned to nobody

[2021-02-11 11:43] seanmor5 opened #206 "Make weighted shape a property of binary tensor"
cc @elbow-jason and the discussion on views/in-place operations

While we can't necessarily manipulate the underlying memory of the binary from Elixir, our main abstraction `weighted_shape` can be manipulated in clever ways to reduce the amount of copying between operations. Currently, `weighted_shape` is used alongside some other helper methods in almost all of our implementations to indicate how

[2021-02-12 08:34] josevalim opened #208 "Support maps in defn"
The downside of maps though is that you can pass a bag values and only use some of them in the computation, so we will need to do some variable pruning. Therefore, before we support maps, I suggest to implement tree pruning with tuples and effectively remove the restriction that tuples must be pattern matching on the `defn` head. That will prepare us to add maps later on.

Internally, maps can com

[2021-02-12 17:35] #198 closed, assigned to nobody

[2021-02-14 14:48] josevalim opened #209 "Add ExDoc"

[2021-02-14 16:16] josevalim opened #210 "Move callbacks from Nx.Defn to Nx.Defn.Evaluator"
Let's make it clear it is an evaluator.

[2021-02-15 06:44] #209 closed, assigned to josevalim

[2021-02-15 08:12] #210 closed, assigned to nobody

[2021-02-15 16:28] #202 closed, assigned to nobody

[2021-02-15 16:31] josevalim opened #212 "EXLA run doesn't raise when given a deallocated buffer"
Here is the diff that reproduces the failure:

[code]

[2021-02-15 22:13] jeffreyksmithjr opened #213 "XLA Build Fails"
I lost the logs, so this will be a terse repro. Will update when I have more detail to add.

Attempted to install EXLA on Debian 10. XLA build repeatedly failed on the XLA build, despite the dependencies (Python 3 and NumPy) being satisfied.

[2021-02-16 05:59] josevalim opened #215 "Add CI"
When we move Nx to the root and before the first release, we should add a CI.

[2021-02-16 10:48] #212 closed, assigned to seanmor5

[2021-02-17 00:16] jeffreyksmithjr opened #216 "TensorFlow requires old version of Bazel"
TF build failed on what was seemingly a version lock to an old version of Bazel (3.1.0). The current version of Bazel is 4.0.0

[code]

Workaround is pretty trivial: install the old version of Bazel and point to it.

Install testing on a MacOS Big Sur on M1 hardware (which eventually fails for other reasons detailed in a different issue).

[2021-02-17 00:55] #213 closed, assigned to nobody

[2021-02-17 01:32] jeffreyksmithjr opened #217 "XLA doesn't support Mac ARM"
In attempting to install EXLA (and thus XLA) on a Mac with an M1 chip (running Big Sur) runs into this issue:

[code]

Really more of an XLA issue than an EXLA issue. Just noting it for capture of the negative data around Mac ARM support.

[2021-02-17 08:20] #216 closed, assigned to nobody

[2021-02-17 15:57] ondrej-tucek commented on #119
In my humble opinion
1. definitely it would be valuable from **numerics aspect**. I mean, there are a plenty of numerical methods and algorithms which compute something with given precision. So if I'd start to calculate some mathematical problem, lets say with float32 precision, I'd also expect that result would be a value with float32 precision or an error message, e.g. `{:ok, 2.71} | {:error, "+

[2021-02-17 18:27] billylanchantin opened #221 "Support Boolean-indexing"
## Background

See here for a reference on "Advance Indexing" in NumPy: https://numpy.org/doc/stable/reference/arrays.indexing.html#advanced-indexing

## Description

There are 2 types of advanced indexing in NumPy: integer-based and boolean-based. From my (cursory) reading of `Nx.slice/4`, integer-indexing is essentially covered. What I've not seen yet is boolean-indexing.

A common thing to do i

[2021-02-17 18:35] seanmor5 commented on #221
I think this would be generalized under something of a dynamic slicing API. `Nx.slice/4` covers slicing pretty well so far, (integer and range support), but we'd need to extend that to accept tensors. I think we could then resolve `a >= 3` to a tensor of indices and do the slicing that way. I think the binary implementation would be pretty straightforward, but the EXLA implementation might need so

[2021-02-17 18:44] josevalim commented on #221
It is worth noting that at the moment we don't have a predicates type. I assume that would be a requirement for us to add this feature because otherwise it is impossible to know if we are passing a tensor of u8 to access certain positions or doing predicates.

We have been postponing adding predicates until we had a good use case, this may be it. :)

[2021-02-17 19:11] elbow-jason commented on #221
WRT tensor slicing inside a `defn`:

I would find slicing with tensor's super useful.

While refactoring a codebase to use Nx, Mike Binns and I first tried to use slicing with a tensor only to discover that it was not (yet?) supported.

Because slicing with a tensor did not work we ended up struggling with the boundaries of defn vs def when we needed to slice.

The issue we were running into is th

[2021-02-17 19:18] fire commented on #221
Can you post your resulting solution for other people to improve?

[2021-02-17 19:18] billylanchantin commented on #221
I think that approach will work! One concern I have is about how this composes. With booleans, I can do things like this:

[code]

If we're under-the-hood converting the booleans to tensors of indices, can we still do things like that? Not saying we can't, it's just not immediately obvious to me.

As per @elbow-jason's comment, it seems like accessing via tensors is useful regardless of the implic

[2021-02-17 19:28] seanmor5 commented on #221
I think as @josevalim mentioned we'd need to support predicates. You can treat the resulting expression as a mask that uses select and maybe some other logic to do the "slicing". Or change the implementation of `Access` to always attempt to resolve expressions like `a[geq & even]` to indices. Then (if we add support for predicate), it would be a type check, so if the type is `:pred`, then we resol

[2021-02-17 19:37] fire opened #222 "Nx and Machine Learning GANs"
Gather here if you're developing a machine learning GAN.

[2021-02-17 19:46] josevalim commented on #221
FWIW, it seems that boolean indexing is not supported by JAX. It requires the boolean tensor to be concrete:

[code]

Looking at their issues tracker, they say:

Which makes sense. If we can't compute the shape upfront, it will be very hard to optimize it. [They suggest to approach the problem differently](https://github.com/google/jax/issues/2765).

So I am thinking that, until we start supportin

[2021-02-17 19:47] josevalim commented on #221
For now, I suggest folks to tell us the exact problem that needs boolean indexing, and we can try to rewrite it into something that doesn't use it.

[2021-02-17 19:52] josevalim commented on #222
Hi @fire! :wave:

Can you please provide a bit more information to what is a GAN for those who are not familiar with it?

Also, we will likely ask you to move this to our mailing list but given there is nobody in the mailing list right now, we will probably leave this around for a couple days to gather interest!

[2021-02-17 20:05] fire commented on #222
Thanks, I saw that there was no activity in the mailing list.

https://en.wikipedia.org/wiki/Generative_adversarial_network

[2021-02-17 20:05] elbow-jason commented on #221
@fire I put an example of put/at by index for rank == 1 tensors that works inside a defn in a gist: https://gist.github.com/elbow-jason/8541bdd034d5aae34a74b63c7d0b686c

[2021-02-17 20:07] josevalim opened #223 "Support dynamic indexing on slices and dynamic updates"

[2021-02-17 20:07] josevalim commented on #221
@elbow-jason I have created #223 for your case.

[2021-02-18 08:39] maxastyler commented on #157
I'm wondering if it's best to start name-spacing off these new features instead of putting them in the main Nx module?
Numpy's got their numpy.linalg namespace for all these functions.

[2021-02-18 10:07] wojtekmach commented on #217
I'm also on an ARM Mac and got a similar error. Inspecting the libxsla.so file I get:

[code]

and I think the reason is Bazel is a x86_64 binary as well:

[code]

Looks like support for ARM Macs landed very recently via: `bazel build --cpu=darwin_arm64` (https://github.com/bazelbuild/bazel/pull/12900) so perhaps it's not a problem at all with XLA but just a matter of time before there's a new Baz

[2021-02-18 13:39] josevalim opened #229 "Support updates with put_in and update_in"
This is so we can have a more complete implementation of the Access protocol for Tensors

[2021-02-18 13:40] wojtekmach commented on #217
I was able to _maybe_ make some progress:

[code]

Credit: https://github.com/bazelbuild/bazel/pull/12900#issuecomment-769900027

`045b62dc3ee2ce23ace71a39b5e433abbbbe3900` is simply tip of tensorflow/tensorflow at the time of writing this.

results in a different error:

[code]

[2021-02-18 13:48] seanmor5 commented on #217
@wojtekmach Can you try `bazel clean --expunge` and then build with `EXLA_MODE=dbg`? That will force a full rebuild though, so if you'd prefer troubleshooting some other steps before blowing the whole thing up that makes sense too. That's an LLVM linking issue, but I'm not sure why that's happening

[2021-02-18 20:18] ivan-rivera commented on #222
@fire, perhaps it might be a good idea to start off with a basic MLP before tackling a GAN?

[2021-02-18 20:42] ivan-rivera opened #232 "Sklearn type models in Nx"
Hi all :)

There seems to be a lot of interest in building up support for neural networks, but I'm wondering if anyone is interested in collaborating on something akin to Python's [scikit-learn](https://scikit-learn.org/stable/). We could begin with a few basic algorithms like linear and logistic regressions, decision trees, random forests and gradient boosting. We could also include some unsuperv

[2021-02-18 21:49] josevalim commented on #232
Hi @ivan-rivera! This is one area that we are sure that it should not be part of Nx - or at least not for now. However, we would love if someone could start implementing those algorithms with Nx, both to find holes in our API support, and because implementing them with Nx means they get to run on the GPU for free. So it would be great if interested folks like you start tackling this, yes!

[2021-02-18 22:23] seanmor5 commented on #232
@ivan-rivera I think a version of some of the algorithms in sklearn would be excellent, especially from a teaching perspective! Most people get introduced to ML in Python through a lot of those beginner friendly algorithms, so having a version to introduce users to Nx and Elixir would be great. I know @elbow-jason was interested in porting something similar. You might find other interested people

[2021-02-19 04:56] elcritch opened #236 "Infix `dot` operator"
Having an infix matrix `dot` operator would make writing Nx code much nicer. It's one of the most common operations and not having an infix operation makes many formula much more difficult to read (or illegible).

One big "win" for numerical Python was having `@` added as an infix operator specifically for matrix dot operations [0, 1]. The syntax in Julia (which follows Matlab) is to have most mat

[2021-02-19 05:38] ivan-rivera commented on #232
@josevalim, @seanmor5 awesome, thanks for sharing your thoughts! I'm going to close this issue then

[2021-02-19 05:38] #232 closed

[2021-02-19 06:02] josevalim commented on #236
Hi @elcritch! I think we can easily start a discussion about adding some custom operators to Elixir with the same precedence as the current mathematical ones and I think `<*>` is a good candidate.

However, I would like to take a holistic approach to this, and ask ourselves which operators we think would be necessary, and then propose a batch at once. Looking at Matlab, they provide `<*>`, `</>` (

[2021-02-19 06:36] elbow-jason commented on #232
@ivan-rivera I have started porting part of SciPy over to Nx with the eventual goal of getting at least the ensemble part of sklearn into Nx as well. I've got a lot going on at the moment, but I should be putting the work into a public repo in the next few days. I would love to get your help if your are interested.

[2021-02-19 09:41] ivan-rivera commented on #232
Definitely!

[2021-02-19 13:33] jj1bdx opened #239 "Windows BEAM missing some math functions in Nx.shared"
Windows BEAM does not have the following OTP math module functions: asinh, acosh, atanh, erf, and erfc.
This lack of functions causes installation failure of Nx on Windows BEAM.
Corresponding source of Nx:
https://github.com/elixir-nx/nx/blob/560ec29ce38a583fedacfe21c0c74aa7bfa4d7dc/nx/lib/nx/shared.ex#L137-L166

See maint-23 Branch of Erlang/OTP:

* https://github.com/erlang/otp/blob/maint-23/ert

[2021-02-19 13:37] seanmor5 commented on #239
@jj1bdx Thanks for pointing this out! I usually test on Windows but I missed it in this case. All of these functions can be implemented/approximated in terms of existing functions in Nx. We'll more than likely just have to check for OS and fallback to those implementations.

[2021-02-19 13:41] jj1bdx commented on #239
@seanmor5 Yes, I agree that implementing these functions in Nx would be a good workaround.

[2021-02-19 15:13] hauleth commented on #236
@josevalim quick idea. Allow any non-whitespace sequence within `<>` to be an infix operator. Alternatively allow any set of ASCII characters that are in `[\x21-\x2F\x3A\x3B\x3D\x3F\x40\x5c\x5f\x60\x7e]` (that is most of printable, non-alnum, non-whitespace, non-del, characters). So one could define `<*>` as well as `<*-*>` or `<@_@>` operators. All of these would be left-to-right and have the sam

[2021-02-19 15:29] josevalim commented on #236
I really don't want to allow unbound operators in Elixir. So I am fine with adding it on demand. Especially because having the same precedence as `|>` won't be enough for the cases we are discussing here. :)

[2021-02-19 19:33] t-rutten commented on #232
@ivan-rivera @elbow-jason I'd be very interested in helping out!

[2021-02-19 19:43] elcritch commented on #236
That'd be fantastic! It crossed my mind but I wanted to focus on the highest value target (<*>) since `</>` and `<\>` are actually complicated operations and essentially solve a system of equations. They require something like QR factorization or Gaussian elimination. The standard division for matrices is elementwise division from my experience which a standard `/` should be fine or even to reuse

[2021-02-19 19:46] billylanchantin commented on #157
I agree with @maxastyler. Jax also seems to have that structure:

https://github.com/google/jax/blob/master/jax/_src/lax/linalg.py

Also, is this potentially blocked by #118? For instance, the Cholesky decomposition is supposed to be `LL*` where `L*` is the conjugate transpose.

Or, do we want to just deal with the real-valued cases first and come back to the general case as part of #118?

[2021-02-19 19:56] josevalim commented on #157
We can start only real-valued ones. We will have to revisit a bunch of stuff once we add complex numbers.

also, we can always tackle namespacing later too!

[2021-02-19 20:07] elcritch commented on #236
Also, what's the story for operators and intermingling scalar and matrix values? When working with `Matrex` one of the sources of errors (and frustration) was going from the output of an algorithm written using `Matrex` matrices and then needing to handle the scalar output (P.S. when I get time I'll look into porting `matrex_numerics` to `Nx` as the [Numerix](https://github.com/safwank/Numerix) fo

[2021-02-19 20:25] seanmor5 commented on #236
For reference we have this issue for handling NaN/Infinity: https://github.com/elixir-nx/nx/issues/119

IIUC...

The default Tensor inspection implementation matches on IEEE 754 patterns for NaN and +/- Inf for BF16, F32, and F64. Backends/Compilers that return IEEE 754 values should correctly return the binary pattern for those values and will display the appropriate +/- Inf, NaN, etc. AFAIK `Nx.

[2021-02-19 20:28] josevalim commented on #236
I think it will be hard to find an operator for integer division that looks reasonable. All of the usual suspects are taken. We could use something like </> but I think that would be confusing, especially if we use <*> for dot (which is matrix specific).

scalars are promoted to tensors once you perform tensor operations that’s because the type is also important. Note I have just opened a PR on OT

[2021-02-19 20:39] pcorey opened #243 "Missing branch in mix dependency declaration"
After adding the dependency to my `mix.exs` file:

[code]

and running `mix deps.get`, I run into the following error:

[code]

It looks like mix is assuming that `master` is the default branch, when `elixir-nx` is using `main`. Specifying the `branch` option fixes the problem:

[code]

[code]

[2021-02-19 20:51] #243 closed

[2021-02-19 21:56] seanmor5 opened #245 "Introduce `log` macro in Nx Kernel"
I was trying to debug a pretty complicated series of numerical definitions that we're getting stuck. My go-to in this instance is to just print debug and see where things are going wrong. I ended up writing a simple transform for logging that might prove useful for others:

[code]

I would personally support this getting added to `Nx.Defn.Kernel`, but I'm open to feedback. An alternative is just a

[2021-02-20 01:34] seanmor5 commented on #245
I think a short coming here is that calls to `log` get thrown out after the initial `defn` compilation.

[2021-02-20 04:19] AndrewDryga commented on #236
Would it be better to have `<dot>` operator instead of `<*>` or anything like that? It's 2 symbols more to type but eliminates operator naming and a need to remember it. It even looks like a special syntax for a function call where arguments are on both ends of a function name: `left <fun> right`. And I'm sorry if my idea is silly :).

[2021-02-20 06:13] josevalim commented on #236
Haskell does support a similar construct, which is to use backticks: `` left `op` right`` where op can be any imported or fully qualified function. But I have a feeling this isn’t enough. I would love to hear from people actively involved in data science/numerical computing their thoughts on this.

[2021-02-20 06:26] elcritch commented on #236
It’s kind of nice to be able to do \`func\`, but you’d want to be able to define the precedent level right? Though even with a fixed precedence it’d still be more readable having infix functions. Then you could define more operations like \`cross\` (`<cross>`?).

Perhaps a post on elixir forums would get some more data science folks in the discussion? A general question about improving numerical c

[2021-02-20 07:00] josevalim commented on #245
Yes, precisely. For the basic functionality that you want, we already have `inspect_expr`. But it would be nice to be able to log possible values. This is something I think we can implement once we are done with streams+outfeeds.

[2021-02-20 07:57] jj1bdx commented on #239
Another long-term approach that comes up in my mind is to enable asinh/acosh/atanh/erf/erfc functions in the math module of Erlang/OTP. These five functions have been available since C11 and C++11. It's 2021 already, and [Erlang building doc for Windows](http://erlang.org/doc/installation_guide/INSTALL-WIN32.html#tools-you-need-and-their-environment) suggests Visual Studio 2019 to build the BEAM,

[2021-02-20 08:23] elbow-jason commented on #239
@jj1bdx Would that mean that these definitions themselves should be conditional based on the compiler version? Is that info available during preprocessing?

If so, that might be a good contribution to Erlang itself.

[code]

[2021-02-20 13:11] LiboShen opened #250 "Nx.reshape with the existing shape won't update the names."
[code]
The expected iex(20) result should be with names `:x` and `:y`

[2021-02-20 13:59] seanmor5 commented on #250
Thanks! Looking into it now

[2021-02-20 14:10] #250 closed

[2021-02-20 14:44] seanmor5 commented on #236
I'm okay with adding infix operators, but I would personally prefer composing functions with `|>` as a pseudo style standard for using Nx. Ultimately though if most people agree with adding and using infix operators, I think it makes sense.

A different perspective would be introducing something like Einstein notation as a DSL. I'm not really sure how possible that would be to support within `defn

[2021-02-20 15:48] AndrewDryga commented on #236
Can we pass an `algebra` to defn and override operators depending on such algebra? Then we can use `*` for matrices operations (when `algebra: :linear` is set). And the same operator in another place would mean integer multiplication with a different algebra. That potentially would push people to use smaller algebra-specific functions and combine them in high-level functions, which is usually good

[2021-02-20 16:01] josevalim commented on #236
Having * mean something else depending on an option is asking for trouble. :) it means when reading code you need to look at the surrounding context for option only so you understand what certain operators mean. I don’t think we should pursue the direction.

[2021-02-20 16:33] hauleth commented on #236
@josevalim I would say that this is common in math that one operator changes it's behaviour depending on context or argument types. But I agree that it isn't ideal for a programming language.

[2021-02-20 16:43] versilov commented on #236
@elcritch @josevalim  I vote for `<*>` as an infix dot operator.
Already suggested it back in 2018: https://groups.google.com/g/elixir-lang-core/c/DqXqLJ5kXMc?pli=1

[2021-02-20 17:10] jamilbk opened #252 "EXLA: Bazel 3.1.0 (exact match) semes to be required"
Installing bazel `3.7.2` with `asdf install bazel 3.7.2` and then running `mix deps.compile exla` fails with:

[code]

Presumably this is because of [`.bazelversion` in the tensorflow tree](https://github.com/tensorflow/tensorflow/blob/6af836f407f546cf2f9ab3b5fcb7a8285bda5c96/.bazelversion).

Installing bazel 3.1.0 via asdf fixes the issue.

[2021-02-20 17:27] josevalim commented on #252
It is curious because it runs on v3.7.0 for me but I will date the docs to say v3.1.0 exclusively. Thanks!

[2021-02-20 19:11] #252 closed

[2021-02-20 19:15] elbow-jason commented on #245
Just to check my understanding here. To log values, I'm calling it `debug` here, without `Async` capabilities this would require the use of `debug` to work in one of these ways:

  + **Option 1** - `debug` creates a breaking point in the expression graph. Essentially this breaking point would split the operation into two parts - the operation before `debug` and the operation after `debug`. In the

[2021-02-20 19:15] polvalente commented on #157
For implementation of things like LU and QR decomposition, should contributors try to write it by hand? I ask this because I looked into the Numpy source code and it basically defers most things to the LAPACK interface.

[2021-02-20 19:16] seanmor5 opened #253 "Nx.sum and Nx.mean do not preserve floating point type in gradient"
They both will promote to `f64`, no matter the input type. Here's a failing test:

[code]

[2021-02-20 19:17] polvalente commented on #157
For implementation of things like LU and QR decomposition, should contributors try to write it by hand? I ask this because I looked into the Numpy source code and it basically defers most things to the LAPACK interface.

[2021-02-20 19:18] seanmor5 commented on #157
@polvalente Yes, you'll have to write the implementation by hand. The implementation of Cholesky decomposition is probably something you'll want to look at. Check out: https://github.com/elixir-nx/nx/blob/main/nx/lib/nx/binary_backend.ex to see how we do the work on binaries.

[2021-02-20 19:23] polvalente commented on #157
Ok! Any tips on how to tackle iterating and assigning values to a given column of a matrix?

Yesterday I played around a bit but ended up needing to use a combination of `comcatenate`, `transpose` and `reshape` to convert the list of Q columns and R columns in a Gram-Schmidt decomposition which ended up looking ugly haha

[2021-02-20 21:54] seanmor5 commented on #157
@polvalente My advice is to do something similar Cholesky and use the `for ..., reduce: ...` pattern: https://github.com/elixir-nx/nx/blob/main/nx/lib/nx/binary_backend.ex#L978

You can also see there how to "index" into the binary based on byte offset. I would try to avoid using `concatenate`, `transpose` and `reshape` as much as possible. Most of those use weighted shapes anyway, so you might ju

[2021-02-20 22:20] josevalim commented on #157
To be clear, there are two ways to implement them:

1. You can implement it fully only using Nx functions (that's now `norm` was recently implemented - so that's an example)
2. The Nx implementation simply invokes a backend which has to implement it at the low-level

It seems QR can be implementable with Nx (that's what JAX does) but we might be missing one or two ops.

[2021-02-20 22:24] josevalim commented on #245
So `async` is one of the steps towards streaming, which is coming next, and will allow us to get data in and out whenever we want. Once we have streaming, we can have logging by tagging some of the messages as special.

[2021-02-20 22:25] josevalim commented on #253
Yes, the goal is to use `max_float_type(...)` if you want to keep those computations within a certain float value. The rewrite from max_float_type should be reasonably fast. :)

[2021-02-20 22:30] polvalente commented on #157
@josevalim @seanmor5 thanks for the tips! Could I perhaps try to tackle QR decomp then?

[2021-02-20 22:31] josevalim commented on #157
All yours!

[2021-02-20 22:48] AlexJuca commented on #157
@josevalim I would like to work on Triangular Solve issue proposed in the list above, any tips before I move forward?

I believe the intention would be to have something akin to bumpy's `solve` function, correct?
 https://numpy.org/doc/stable/reference/generated/numpy.linalg.solve.html

[2021-02-20 22:53] seanmor5 commented on #157
@AlexJuca You'll want to look at: https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.solve_triangular.html

Don't worry about the `lower`, `unit_diagonal`, `overwrite_b`, or `check_finite` options for now. I would start with just focusing on solving the system with 2 inputs. The algorithm you're looking for is called forward substitution (for lower triangle matrices) and backward su

[2021-02-20 22:54] seanmor5 commented on #157
You can implement either forward or backward substitution for now, we can worry about extending it in another PR

[2021-02-20 23:01] AlexJuca commented on #157
@seanmor5 Great tips, I will work on this. Thanks

[2021-02-21 02:19] jj1bdx commented on #239
@elbow-jason Exactly on the removal of the `NO_*` definitions.

[2021-02-21 06:06] elcritch commented on #236
The only infix operators I believe would be valuable enough for the effort (and language overhead) would be dot operations via the `<*>` (inner product) notation and  `<**>` (outer product). I expanded to both because both the outer and inner dot product is used much more heavily in NN's and DL than the maths I'm more familiar with using. It's also seems pretty intuitive to my mind to remember `*`

[2021-02-21 06:07] #239 closed

[2021-02-21 06:10] elcritch commented on #236
@seanmor5 Einstein notation would seem like a much more Elixir approach to me than adding a bunch of broadcast or elementwise operators as Julia, Matlab, or Nim did. It would match with Ecto a bit in having a well thought out DSL for a specific task. Einstein notation is hard for new comers (or myself after a few weeks of not using it). Though Elixir has the benefit of great compile time abilities

[2021-02-21 06:17] josevalim commented on #236
@elcritch thanks, just one note! We are planning to `**` for exponentiation. That probably rules out using `<**>` for outer because it would have higher precedence (one that matches `**`). But do we need an operator for outer? Only R seems to add one of all the languages mentioned so far.

[2021-02-21 07:05] elcritch commented on #236
@josevalim you're welcome!

Regarding the outer product, it's a good question I think... I was basing my reasoning on `Matrex` using `dot` as what I'd naively call an outer product, but searching Google a bit it seems that I'm accustomed to thinking in terms of vector / matrix pairings which have different implied meanings than a 1xN matrix `dot` MxN matrix operation (or would that be NxM, I'm out

[2021-02-21 15:53] versilov commented on #236
Don't know, I am not a data scientist actually:)

[2021-02-21 16:43] #155 closed

[2021-02-21 18:11] josevalim opened #260 "Clean up Executable.Run() now that output is always a top-level tuple with no nesting"
The function should continue to return a list (which is the return result today).

[2021-02-21 18:56] #260 closed

[2021-02-21 19:10] seanmor5 commented on #217
For anybody interested in attempting to resolve this in some way, it seems it might be possible to fix:
https://github.com/google/jax/issues/5501
https://github.com/tensorflow/tensorflow/pull/45404

I don't have a mac to test on, but my recommendation is:

First, per the issue above -

Install x86_64 Bazel 3.7.1 through Rosetta
Install Python 3.8.2
Install Xcode 12.3

Next, change `EXLA_TENSORFLOW

[2021-02-21 19:39] seanmor5 opened #262 "Support configuration of convolution dimension numbers"
Right now, our convolutions require input and kernel to have shapes:

- `input_shape - (batch_size, input_channels, spatial_dim0, ..., spatial_dimN)`
- `kernel_shape - (output_channels, input_channels, kernel_spatial_dim0, ..., kernel_spatial_dimN)`

With a resulting output shape of:

- `output_shape - (batch_size, output_channels, output_spatial_dim0, ..., output_spatial_dimN)`

While this is pro

[2021-02-21 20:06] josevalim commented on #262
For the binary backend, could we transpose after the fact if you provide a different configuration? Or does this ultimately affect the computed result?

[2021-02-21 20:12] seanmor5 commented on #262
Good point, we could definitely transpose before/after the convolution to support different configurations.

[2021-02-21 20:20] elbow-jason opened #263 "Encoding to_binary with `native` might become problematic"
This is probably not an issue yet, but if I understand what `64-native` in bitstrings means correctly it could be problematic later.

The binary encoding that Nx is currently using could potentially cause problems for someone sharing tensor data binaries between systems with different endianness. Unfortunately, I'm sure that decoding with a different endianness probably wouldn't fail and instead w

[2021-02-21 20:22] elbow-jason commented on #263
I personally prefer the serialize/deserialize option.

Serialize could be as simple as:

[code]

[2021-02-21 20:31] josevalim commented on #263
Correct. The encoding that we are using is for transfer between memory on the same machine. We don’t want to force a format because it means it is less efficient.l to do the work. For transfer between machines, then we need a mechanism to serialize and load data. Exactly option 2. However, before we invent our own mechanism, we need to see if there is prior art here.

also we can use term to binar

[2021-02-21 20:31] #263 closed

[2021-02-21 20:54] josevalim commented on #262
Btw, related to the backend API, we should probably standardize on something similar to what XLA exposes.

[2021-02-21 22:11] #181 closed

[2021-02-22 00:47] elcritch commented on #236
Ok, here's a concise summary: https://bic-berkeley.github.io/psych-214-fall-2016/dot_outer.html (in particular the last section "Dot, vectors and matrices").

Essentially whether you get a inner or outer product with the common `dot` operation depends on whether you're passing vector or matrices. I'm not sure how TensorFlow handles those cases, or if even has a true `vector` type at all. However i

[2021-02-22 00:52] seanmor5 commented on #236
@elcritch We generalize everything to tensors, so there's no distinction between a vector, matrix, etc. You can see here how we handle `dot` with different rank combinations: https://github.com/elixir-nx/nx/blob/main/nx/lib/nx.ex#L5709

We can't really make the distinction between a row and column vector without maybe including additional metadata in the `Tensor` struct. But as you mention we can

[2021-02-22 02:00] elcritch commented on #236
@seanmor5 great thanks! Seems to be naming differences. lol, it's a bit strange to me that so many new numerical libraries call everything a tensor. The last graduate coursework where I dealt heavily with the term _tensor_ was in the context of _Continuum Mechanics_ and _FEA_ where a _tensor_ is a matrex that [represents a physical quantity](https://www.continuummechanics.org/matrices.html). ;-)

[2021-02-22 02:43] elcritch opened #267 "Import default math function into `defn`'s scope"
## Proposal

Change `defn` to import the `Nx` namespace by default, or alternatively a smaller more tailored set of functions and operators.

In addition it'd be useful to include constants like \pi and \e and to include overloaded arithmetic operators for `+`, `-`, etc.

Discussing this earlier would probably be better than later. Though it's nice that it wouldn't be too difficult for a third par

[2021-02-22 03:05] seanmor5 commented on #267
I'm in favor of the addition of constants, off the top of my head probably: `e`, `pi`, `inf`, `negative_inf`, and maybe `nan`.

With regards to always importing the Nx namespace, my only concern would be ambiguity, but because of the restricted nature of `defn` that's not really much of a problem here. I think then for me it's just weighing the ergonomics. I like the `Nx` prefix but that's probabl

[2021-02-22 04:28] elbow-jason commented on #267
I tend to shy away from "naked" imports. In the case of `Nx.` it would shorten each of these call sites by 3 letters, which is good for typing. But it drastically negatively affects code clarity.

When I see a call to `sum` I have 5 considerations to resolve:

1) Does the module I am in have a `sum/1` defined?
2) Nx has a `sum/1`?
3) Does the scope I am in have a `sum/1` imported from somewhere ot

[2021-02-22 04:36] ArthurHypersphere opened #268 "When a tensor is square (NxN), what can I do to invert it without writing my own implementation?"

[2021-02-22 04:40] elbow-jason commented on #268
The word "invert" here is ambiguous. Can you give an example of what your square tensor looks like before and what your square tensor looks like after it is inverted?

[2021-02-22 05:30] elbow-jason commented on #236
I think introducing infix operators is bad for legibility, barrier of entry, mental overhead, and will almost without a doubt discourage newcomers.

When I look at code that has `<*>` (or any other infix operator that is a symbol) to understand the code I must know some things first:

 + What is this called `<*>` phonetically? and how can someone discover this fact?
 + How does one search for `<*>

[2021-02-22 05:31] elcritch commented on #267
@elbow-jason For general purpose programming I’d agree with you. Specifically for numerical coding though I believe there are a few considerations that make it different.

The typing saved is handy but the real benefit is legibility when dealing with complicated mathematical expressions. Adding those three letters for each math function inside `defn` blocks means a significant amount of extra clut

[2021-02-22 05:40] josevalim commented on #236
Thanks everyone for the discussion so far. As mentioned above, I don't want to rush this decision. I want folks who are new to Elixir and have a math background to tell us how necessary those custom operators are to the language - so let's wait for feedback. :)

[2021-02-22 05:43] josevalim commented on #267
I don't want to mix those for now because the kernel contains functions that are not available outside of `defn`. Mixing those will make it very confusing what you can actually call on defn vs elsewhere (IEx, scripts, etc). We also don't know how large the numerical kernel will grow over the next months.

We named the project Nx exactly so we don't need aliases and keep things short. I will be gla

[2021-02-22 05:43] #267 closed

[2021-02-22 07:06] ArthurHypersphere commented on #268
I mean it in the sense of an invertible matrix, i.e.

AB == BA == (identity matrix of the same size)

On Sun, Feb 21, 2021 at 11:41 PM Jason Goldberger <notifications@github.com>
wrote:

[2021-02-22 09:02] maxastyler opened #270 "Inverse trig gradient test fails depending on seed"
On certain seeds (for example: 453568, 643645) the test `test inverse trig family computes gradient of inverse trig functions` in `Nx.Defn.GradTest` fails.

This is because `check_grads!` fails on values close to ±0.9...

The test could be made to always check these bounds, so as to always fail, or have the random bounds reduced so it doesn't encounter this error.

[2021-02-22 09:12] josevalim commented on #270
I have pushed a fix just now. I have also decoupled the eps from the steps, so that should give us more fine grained control. Thanks!

[2021-02-22 09:12] #270 closed

[2021-02-22 11:22] maxastyler commented on #236
As a physicist, I would find infix notation for the inner product to be really useful (something like `<*>`). I find it helps a lot with readability in calculations.
We use the outer product quite often in quantum mechanics (eg. to combine states), but I feel like I wouldn't really want an infix for `outer`. I reckon that a newcomer might be confused as to:

- whether it was a "proper" outer produ

[2021-02-22 12:36] seanmor5 commented on #268
I don't think it's possible with our current API. In NumPy you would do something like:

[code]

Given the expected API after we resolve #157,  under the hood, I think it'd be something like:

[code]

I don't know how long it's going to be until we are able to getting around to tackling those implementations. @polvalente has been pretty active in handling those. He might be able to help more

[2021-02-22 12:38] behe commented on #217
@seanmor5 Tried that but I don't think that version of Tensorflow likes the Makefile patches:
[code]

[2021-02-22 12:42] seanmor5 commented on #217
@behe I know what's going on. In #247 we "removed" the NumPy dependency by commenting out some things in the TF build script. They changed the script recently so we'll need to update what we're doing with a new commit. What you'll want to do is remove `disable_python_checks` from `all` target in Makefile! That will fix your problem and at least go forth with the build, note you will have to comple

[2021-02-22 12:43] wojtekmach commented on #217
I got the same error as above, interestingly running the exact same version of tensorflow from a local checkout allowed me to move forward

[code]

[2021-02-22 12:50] polvalente commented on #268
@ArthurHypersphere Depending on your use-case, QR-factorization could remove the need to invert a matrix.

If you're trying to find `x` for `Ax = b`, if you have `A = QR`, where Q is  orthonormal and R is upper triangular, you can turn the problem into `Rx = transpose(Q)b`, which is easily solvable through back substitution. QR decomposition is being implemented in #265 and I think there'll be a p

[2021-02-22 12:54] polvalente commented on #268
@ArthurHypersphere Depending on your use-case, QR-factorization could remove the need to invert a matrix.

If you're trying to find `x` for `Ax = b`, if you have `A = QR`, where Q is  orthonormal and R is upper triangular, you can turn the problem into `Rx = transpose(Q)b`, which is easily solvable through back substitution. QR decomposition is being implemented in #265 and I think there'll be a p

[2021-02-22 14:08] wojtekmach commented on #217
As I mentioned in the previous post, I was able to make further progress but eventually the compilation crashed with:

[code]

below is the full output:

<details>
[code]
</details>

[2021-02-22 22:25] ArthurHypersphere commented on #268
Nice draft implementation. I don't have a solid usecase yet for elixir, but I implemented a decent amount of trading related code in Elixir using my own stuff and after Nx was released I took it for a quick spin and noticed that I couldn't invert a square tensor, so wanted some additional color on this. I appreciate you all answering my inquiry. Don't want you guys to keep this open since you adeq

[2021-02-22 22:49] seanmor5 commented on #268
You might be interested in the #nx channel of the [Elixir Slack](https://elixir-slackin.herokuapp.com)

[2021-02-22 22:49] #268 closed

[2021-02-22 23:38] wstucco commented on #236
glad to hear that a question I posted a couple years ago on the Elixir forum is gaining some traction.

https://elixirforum.com/t/infix-notation/19143

My original use case was exactly the one we are talking about here: helping my data science colleagues that wanted to use Elixir but were more familiar with infix operators.

[2021-02-22 23:51] shak360 commented on #148
I wanted to take a crack at this but I think it's a little out of my scope 😅. I'm not as comfortable with macros as I'd like to be to implement this. For someone who does end up working on this, I wrote these test cases if they want to test their implementation:

[code]

These test cases are taken straight out of the JAX documentation for custom gradients: https://jax.readthedocs.io/en/latest/note

[2021-02-23 03:33] polvalente commented on #157
@seanmor5 since #265 is on the way, which of the remaining items should I tackle? Or maybe there's another issue in which I could be useful?

[2021-02-23 04:09] josevalim commented on #157
@polvalente feel free to pick any of the ones above still. Notice “norm” is missing nuclear and -2 for 2D matrices.

alternatively, consider implementing gradients and/or the EXLA for QR decomposition. :) thank you for all the help!

[2021-02-23 04:11] josevalim commented on #157
Actually, ignore my second suggestion for now. We need to implement Expr for QR and that is not straight-forward because it returns a tuple. I will have to think about it.

[2021-02-23 04:21] polvalente commented on #157
@josevalim all things considered, I think I'll try to tackle SVD. The reason is that both nuclear and -2 for 2D matrices depend on having the singular values for said matrix. What do you think?

[2021-02-23 06:02] polvalente commented on #157
I've researched a bit and couldn't find a good description of a numerical SVD algorithm. Does anyone know of one we could implement?

[2021-02-23 08:47] josevalim commented on #148
Thanks @shak360! I will break down how someone should implement this feature.

## Step 1: Add a metadata expr

Add a `Mix.Defn.Expr.metadata(expr, metadata)`. This will create a metadata specific node. Now you can do this:

    defmacro stop_grad(expr) do
      quote do
        Nx.Defn.Kernel.transform(unquote(expr), fn expr ->
          Nx.Defn.Expr.traverse_exprs(expr, &Expr.metadata(&1, %{stop_

[2021-02-23 11:12] josevalim commented on #157
I found a reference implementation on XLA source code: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/client/lib/svd.cc#L784 - the algorithm is always broken in 2 steps but it seems the second step can implemented with higher-level operations using an iterative approach.

I have also looked for "SVD in Python from scratch" and I found [some examples](https://machinele

[2021-02-23 13:09] polvalente commented on #157
Thanks! I'll take a look at those later today.

[2021-02-23 17:32] turion opened #278 "Nx.pad is incorrectly documented?"
It says:

But all the examples give triples (e.g. `{0,0,1}`).

[2021-02-23 17:34] seanmor5 commented on #278
Yes that's a typo, padding configurations are supposed to be:

`{pad_width_edge_low, pad_width_edge_high, pad_width_interior}`

I'll push a fix

[2021-02-23 17:36] seanmor5 commented on #278
See: https://github.com/elixir-nx/nx/commit/2b94263cb59503867fd164290f40c9c272727322

[2021-02-23 17:36] #278 closed

[2021-02-23 20:12] josevalim commented on #148
Working on this because @seanmor5 needs it. :)

[2021-02-23 21:11] #148 closed

[2021-02-24 07:48] piacerex opened #279 "EXLA build on Windows 10 (without WSL2) failed p.s. build was successful, but took 10 hours"
In attempting to install EXLA on Windows 10 runs into this issue:
[code]

It fails in the following places, and the cause is considered to be either libexla_host.so is not generated under the target folder or Makefile.win is incorrect.

[code]

The contents of the target folder are as follows.

[code]

The following in Makefile.win seems to be the error part.

[code]

I also tried changing Makefil

[2021-02-24 08:18] josevalim commented on #279
Can you please try latest master? On master it has this:

    cp -f $(TENSORFLOW_DIR)/bazel-bin/$(TENSORFLOW_EXLA_NS)/libexla.so $(EXLA_SO)

Which should be the proper command. :)

[2021-02-24 08:47] piacerex commented on #279
Sure, the main Makefile.wiin has been fixed, I'll give it a try.

[2021-02-24 16:03] billylanchantin commented on #223
@josevalim I've been thinking about this issue since it came out of #221 (though I've been preoccupied by a contribution to ElixirLS), and I've done a little research into the various options. It seems that we likely want to support some version of the [gather/scatter paradigm](https://en.wikipedia.org/wiki/Gather-scatter_%28vector_addressing%29). But how those operations generalize to tensors is

[2021-02-24 16:10] seanmor5 commented on #223
@billylanchantin From the XLA perspective, I can confirm that gather/scatter is pretty much how JAX implements indexing.

See: https://github.com/google/jax/blob/master/jax/_src/numpy/lax_numpy.py#L5389 and https://github.com/google/jax/blob/master/jax/_src/numpy/lax_numpy.py#L4352

From a brief overview it looks like they rewrite indexing and index updates as gather/scatter ops.

See also: https:

[2021-02-24 18:21] billylanchantin commented on #223
@seanmor5

Awesome, thanks!

Yeah that's what I'm seeing across the board, not just with JAX (though my investigations have also been brief). AFAICT, we really have to nail gather/scatter regardless of how we want the higher-level access/update API to work.

BTW, my plan is to copy what JAX does as much as I can. I just want to be cognizant of how gather/scatter works outside of XLA while I do so.

[2021-02-25 03:36] piacerex commented on #279
I tried the main branch, but this build never finished...I tried it several times, but it reproduces every time.
[code]

The deps of mix.exs are below:
[code]

In the previous version (libexla_host.so was present in Makefile.win) build was completed in about 35 minutes.

The deps at that time are as follows (The only difference is the main branch at exla):
[code]

How long does it take to build on

[2021-02-25 06:22] josevalim commented on #279
I had the build get stuck too and what I did was to try again, and it worked. Unfortunately not a lot that we can do. :(

[2021-02-25 09:52] piacerex commented on #279
I see ... I understood that the builds would get stuck, I'll retry after.

Thank you for your confirmation.

[2021-02-25 16:26] elbow-jason opened #282 "Nx.random_uniform/2 raises in BinaryBackend for non-float types"
When the code path reaches [these lines inside Nx.BinaryBackend.random_uniform/3](https://github.com/elixir-nx/nx/blob/4acedf922b490f29972158f98f68bc8577b2d281/nx/lib/nx/binary_backend.ex#L28-L29
) with the default range of `0.0, 1.0` from `Nx.random_uniform/2`, the calls `:rand.uniform(max - min)` are passed a float. The [docs for `:rand.uniform/1`]() say that it only accepts positive integers.

[2021-02-25 16:33] josevalim commented on #282
For floats, the best approach is probably to call :rand.uniform() with no argument and then do the scaling afterwards:

    :rand.uniform * (max - min) + min

A new regression test should be added to test/nx_test.exs. :)

[2021-02-25 21:16] josevalim commented on #222
Closing this. We can move this discussion to the mailing list and I am also hoping to have a ML working group on the Erlang Ecosystem Foundation.

[2021-02-25 21:16] #222 closed

[2021-02-25 21:21] #253 closed

[2021-02-25 21:22] fire commented on #222
Please keep me in touch with the ML working group.

Thanks.

[2021-02-26 11:17] josevalim commented on #201
This is in the main branch as `Nx.template/3`.

[2021-02-26 11:17] #201 closed

[2021-02-26 17:38] seanmor5 commented on #262
@josevalim A simple proposal to address this is to expose permutations as an input option rather than dealing with a potentially confusing configuration with tuple/list of tuples/lists. We can normalize the permutations in the same way as in `transpose`, wdyt?

Tackling this issue will make implementing the gradient for convolution a lot easier

[2021-02-26 18:21] josevalim commented on #262
@seanmor5 sounds good to me!

[2021-02-26 19:15] piacerex commented on #279
This build was completed in about 10 hours.
It's a continuation of the above log:
[code]

I'll try to move CUDA later.
I added this title.

[2021-02-26 19:18] seanmor5 commented on #279
@piacerex Unfortunately the long build times are just a consequence of the size of the library. Do you mind if I close this issue?

P.S. I recommend looking at the [Windows GPU Support](https://www.tensorflow.org/install/gpu#windows_setup) in the TensorFlow documentation. I have not built with CUDA on Windows, so we'd welcome a PR with instructions. You will likely have to set `EXLA_FLAGS=--config

[2021-02-26 20:47] xire28 commented on #282
New contributor here, will prepare a MR

[2021-02-27 00:27] xire28 commented on #282
It only generates zeros when Nx.random_uniform/1 is used with non-float types. Is it a correct behavior ?

[2021-02-27 00:38] xire28 commented on #282
Because it only generates zeros when Nx.random_uniform/2 is used with non-float types, I think solution 1 is the best one.
Updating MR

[2021-02-27 00:52] piacerex commented on #279
I understand, it's OK to close.

[2021-02-27 01:01] #279 closed

[2021-02-27 02:45] xire28 commented on #282
Ended up moving the "raise" to the main method if types are incompatible:
- Float tensor + float or int range -> OK
- Int tensor + Float range -> raise

Added the check for random_normal too for consistency, currently it raises "argument error" with no message when used with non-float tensor.

Waiting for feedback

[2021-02-27 05:37] elbow-jason commented on #262
Notes for batch (N), channels (C), and spatial dims (HW) support in some different frameworks.

[torch - shape section](https://pytorch.org/docs/stable/generated/torch.nn.Conv2d.html)

  + input:  {N, C, HW}
  + output: {N, C, HW}

[tensorflow - data_format](https://www.tensorflow.org/api_docs/python/tf/nn/conv2d)

  + input: {N, HW, C}
  + output: {N, HW, C}

and:

  + input: {N, C, HW}
  + outpu

[2021-02-27 06:59] #282 closed

[2021-02-27 16:36] #262 closed

[2021-02-28 13:57] xire28 opened #288 "Nx.Cholesky/1 raises ArithmeticError on odd dimensions symmetric square matrix"
Reproduction code:
[code]

Stacktrace:
[code]

Error line:
[code]

`read!(diag, 0)` returns `0` in this case, which results in `(ArithmeticError) bad argument in arithmetic expression`

No tests are present in nx for `Nx.cholesky/1` (only in exla), I think it could be a good opportunity to improve the coverage at the same time.

[2021-02-28 14:01] josevalim commented on #288
Thanks for the report! Our basic tests are done via doctests. But as we tests different scenarios we will improve them via tests.

And to be clear, what would you expect as a result?

[2021-02-28 14:17] xire28 commented on #288
Forgot about the doctest coverage.

Closing the issue, will reopen only after finding a good enough proposition on how it should behave.
Thanks

[2021-02-28 14:17] #288 closed

[2021-02-28 16:33] josevalim commented on #288
For completeness, we don't handle infinity/nans yet, this is being tackled on #119.

[2021-02-28 22:50] josevalim opened #291 "AOT cross compilation"
Today header/object file emitted by EXLA can be cross-compiled but I assume our `bazel build` call wraps the precompiled EXLA artifact in NIFs is not currently cross-compiled.

@seanmor5, do you believe it would be difficult to ask Bazel to cross compile at this step as well?

[2021-02-28 23:52] jordanhubbard opened #293 "Two nx tests currently failing with Ubuntu 20.10 + Elixir 1.12.0-dev + erts-11.1.8 + CUDA 11.2u1"
I realize that much of this configuration is "TOT" but running this for a variety of reasons since the GPU rig is also RTX 3080 + AMD 3950X and a lot of the support for this is fairly cutting edge anyway.

[code]

[2021-03-01 00:37] seanmor5 commented on #293
These are precision issues. I just updated the tests to use an approximate comparison instead. Please let me know if it resolves the issue for you!

[2021-03-01 00:39] seanmor5 commented on #291
I think we can, I'll dig into the documentation!

[2021-03-01 00:52] jordanhubbard commented on #293
Yep, you nailed it!  Thanks for the awesomely rapid response!

[code]

[2021-03-01 00:53] jordanhubbard commented on #293
Closing as resolved.

[2021-03-01 00:53] #293 closed

[2021-03-01 01:06] jordanhubbard opened #294 "What is ERTS_SYM_DIR?"
Not suggesting the following diff, but it's the only thing that moves the compile past the fact that the erts subdirectory is not checked or called out as an explicit dependency in README.md (not sure why erlang's erts directory is being referenced at all).

```mix run``` works, on the other hand.

[code]

[2021-03-01 01:13] seanmor5 commented on #294
To compile the NIF we need to link ERTS includes into the TF directory because Bazel doesn't work very well with global dependencies.

The directory is included (usually) in standard Erlang installations. Sometimes you'll need to install `erlang-dev` as a separate dependency. Try installing `erlang-dev` and everything should work out!

[2021-03-01 01:30] jordanhubbard commented on #294
Sorry, I think I somehow failed to make the more important fundamental points I was trying to make:

1.  I'm compiling all of this from source, including OTP, so there is no package dependency chain here.  The standard erlang install target, up to and including some of the more battery-included options like "install-docs", does not put an erts directory anywhere in /usr/local.
2. Even if it (or th

[2021-03-01 01:50] seanmor5 commented on #294
`ERTS_INCLUDE_DIR` is automatically set by the Elixir make compiler to the Erlang/OTP install location so it doesn't usually need to be explicitly set. Although I'm not sure if that would be the case in this situation.

I'll document the need for `erlang-dev` as well. I don't have experience building Erlang/OTP from source, so I'm not sure what differences there would be w.r.t the EXLA build proce

[2021-03-01 02:52] jordanhubbard commented on #294
OK, let's also perhaps come up with some common notation which takes into account the difference between the build system "drivers" here.  We have, as you say, mix(1) as one build driver which is, in turn, driven from the top-level project make(1) driver which exposes just the `setup` and `test` targets.  I'll refer to those two as `Make(T,setup) -> Mix(S, deps.get)` and `Make(T,test)-> Mix(S, tex

[2021-03-01 02:53] elbow-jason commented on #294
@jordanhubbard what do you get when you run `erl` then `code:root_dir().`?

What I see:
[code]

[2021-03-01 02:58] elbow-jason commented on #294
I'd also like to see `code:lib_dir('erts').`

[2021-03-01 03:04] seanmor5 commented on #294
I think I see what you're saying. Running `make` from the EXLA directory will not work. We rely on the `elixir_make` compiler to set all of the environment variables and invoke make for us, so attempting to build EXLA without running inside the mix project will always fail because the environment is not set up.

[2021-03-01 03:05] jordanhubbard commented on #294
[code]

Which is pretty much what I'd expect. to see, since the `install` target of otp puts everything in /usr/local and that's where all of the installations go.

To anticipate the next logical question:
[code]
Which also makes sense - that's where the various erts versions land when you build from source over time, since of course the version is mutable.

By the way, `megamind` is the name of t

[2021-03-01 03:10] jordanhubbard commented on #294
I thought it might be easier to continue this discussion in a PR, since I don't want to seem like I'm just whining over here. 😃

[2021-03-01 03:57] jordanhubbard commented on #294
This issue itself can be closed - we can take this up in the PR or see what the future build harness(es) look like in a split repo.  Thanks for the time and attention to what started as a hopefully small question. :)

[2021-03-01 03:57] #294 closed

[2021-03-01 03:58] jordanhubbard opened #296 "4 test failures in exla"
[code]

[2021-03-01 06:25] josevalim commented on #296
Yes, we don’t support OTP 24 quite yet but we will soon tackle. This will be addressed when that happens!

[2021-03-01 06:25] #296 closed

[2021-03-01 08:43] jotsif commented on #217
@seanmor5 @wojtekmach Did you manage to fix the LLVM linking issue? I am having the same problem building XLA for Jax and it seems like Bazel strips out some of the LLVM dependencies.

[2021-03-01 08:53] wojtekmach commented on #217
Im stuck at `ARM64 branch out of range` error.

[2021-03-01 10:12] jotsif commented on #217
@wojtekmach Although the above issue looks like a compiler/linker bug it also looks like you are linking in with some tensorflow core functionality (some TF kernels) and do you need those? For the Python XLA extension used in jax there is some discussion about that here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/python/BUILD#L539

[2021-03-01 10:38] josevalim commented on #222
The marketing working group is live! https://erlef.org/wg/machine-learning /cc @polvalente

[2021-03-01 13:20] josevalim commented on #296
Btw, the reason why we want to support Erlang/OTP 24 is because I sent a PR with support for FP16. :) So as soon as it is out of RC we are going to make it a requirement!

[2021-03-02 01:53] jordanhubbard commented on #296
Roger that!  Very interested in seeing the future of FP8, FP16 and FP32 type support in Elixir as well as support for sparsity in vectors of these types.

[2021-03-02 09:10] josevalim opened #301 "Support datasets/feature columns"

[2021-03-03 21:43] polvalente commented on #157
@josevalim @seanmor5 can I take LU decomposition on? I could also try eigen decomposition, but I'm not as familiarized with the algorithms

[2021-03-03 21:44] seanmor5 commented on #157
@polvalente Feel free! :D

[2021-03-04 05:31] AndrewDryga commented on #236
@elbow-jason I think a lot of those questions would be easy to answer if we call it `<dot>`, even arrows show where are the arguments. It's still an additional syntactic construct you'll need to learn though.

[2021-03-05 09:00] josevalim opened #311 "Support anonymous functions as arguments to defn"
We should also add a `cache: false` option to EXLA backend as the anonymous functions can be closure and keep large data that shouldn't be cached.

[2021-03-05 12:11] lenileiro opened #312 "Failed backend build for Mac M1 chip"
I am receiving errors when trying to compile both backends.

- EXLA backend

`
[warn]  The on_load function for module Elixir.EXLA.NIF returned:
{:error,
 {:load_failed,
  'Failed to load NIF library: \'dlopen(/Users/user/Desktop/research/ml/_build/dev/lib/exla/priv/libexla.so, 2): no suitable image found.  Did find:\n\t/Users/user/Desktop/research/ml/_build/dev/lib/exla/priv/libexla.so: mach-o, b

[2021-03-05 12:17] wojtekmach commented on #312
@lenileiro see #217 for EXLA.

[2021-03-05 13:04] #312 closed

[2021-03-05 17:01] josevalim opened #314 "Create a working version of the Makefile for windows compilation"

[2021-03-06 11:39] josevalim opened #315 "Make rounding behaviour consistent"
Elixir rounds away from zero, Torch rounds to even, and XLA supports both. We should probably normalize on rounds to even, which is the recommended by IEEE. This requires a PR from OTP though: https://github.com/erlang/otp/pull/4587

If at some point PyTorch accepts both modes, we should consider effectively making it a flag.

[2021-03-06 13:09] jotsif commented on #217
@wojtekmach FYI https://github.com/tensorflow/tensorflow/pull/47594

[2021-03-06 19:34] wojtekmach commented on #217
@jotsif thanks! I tried that and got the following, might be an exla issue?

[code]

[2021-03-06 20:00] seanmor5 commented on #217
@wojtekmach That is an EXLA issue. If you change `qr` to this:

[code]

It should fix. QR will need to be updated in some other places as well, but this is a quick fix for the build on Mac

[2021-03-06 20:38] wojtekmach commented on #217
Yeah, that allowed me to move forward but ended up stuck on the same `ld: b(l) ARM64 branch out of range (159775812 max is +/-128MB):` as before. I'll try a new clean build soon.

[code]

[2021-03-08 20:26] fnchooft opened #319 "Add bazel to pre-requisites"
Some note in README about https://docs.bazel.build/versions/4.0.0/install-bazelisk.html would be sufficient to install it.

[2021-03-08 20:50] seanmor5 commented on #319
See [EXLA README](https://github.com/elixir-nx/nx/blob/main/exla/README.md)

[2021-03-08 20:50] #319 closed

[2021-03-09 09:43] josevalim commented on #291
We have added `bazel_flags` and `bazel_env` to allow people to customize the bazel call.

[2021-03-09 09:43] #291 closed

[2021-03-10 03:06] fire opened #323 "Investigate PyTorch and Vulkan"
Vulkan compute is exciting is because all of AMD, Intel, Samsung, Arm, Broadcom, Nvidia, Qualcomm, Imagination Tech, Apple (through Vulkan to metal) have a way to run compute. OpenCL is dead.

https://pytorch.org/tutorials/prototype/vulkan_workflow.html

For Linux:

[code]

[2021-03-10 03:30] versilov commented on #323
Investigation will be possible when we support device selection during tensor creation. Which should happen this week.

[2021-03-11 13:48] josevalim commented on #170
We also need to make it so the evaluation cache does not keep a copy of all operations in the tree, which will slow down garbage collection. perhaps we need to build a reverse map of usage and free up the cache once all uses are invoked.

[2021-03-11 18:32] versilov opened #326 "Add defn code reference to the stacktrace"
defn code is hard to debug, because stack trace lacks reference to the line inside defn function, which initiated the error. And there is no mention of initial function call, that resulted in the error also.

E. g. in the code below there is no reference to the call of `Nx.mean/1`, which actually caused the error:

[code]

At least we need to add explicit function call line to the stack trace.
At

[2021-03-11 18:37] versilov commented on #326
Actual function call is made here through `eval/3`:

https://github.com/elixir-nx/nx/blob/83e22924044d71ebb0ad5d3e04e94072ad91986f/nx/lib/nx/defn/evaluator.ex#L64

[2021-03-11 19:09] josevalim commented on #326
Yes, this is a bit complicated because the expression is first built and then evaluated. So we would need to add a bunch of metadata nodes to control file/line. We will see what comes out of this. :)

[2021-03-12 17:54] polvalente commented on #161
https://github.com/tensorflow/tensorflow/pull/45475
https://github.com/tensorflow/tensorflow/issues/6504

This issue and Pull Request are related to QR grad. Might be relevant for who tackles this later.
In the PR comments there's a paper related to backpropagation of QR and LQ factorizations.

[2021-03-13 08:11] josevalim opened #329 "Perform refcounting and automatic deallocating inside defn"

[2021-03-13 20:05] polvalente opened #333 "Backend-agnostic stateless PRNGs"
As discussed in #331, we need an approach for having portable PRNGs that can be applied for any backend.

_Originally posted by @seanmor5 in https://github.com/elixir-nx/nx/issues/331#issuecomment-798775291_

[2021-03-14 19:12] ivan-rivera opened #335 "Add support for strings"
Please correct me if I'm wrong here (I'm quite new to the Elixir community), but from what I understand, Nx does not support strings. On the other hand, its Python equivalent, [Numpy](https://numpy.org/) does support strings which makes it a versatile tool for handling most data structures. Having string support would allow us to build higher-level abstractions like [Pandas](https://pandas.pydata.

[2021-03-14 19:24] josevalim commented on #335
Hi @ivan-rivera, I recommend to track issue #301, as that means we will support strings somehow, even if as a binary of offsets. But our support will only be limited - at least for now. I am also not sure if a Pandas for Elixir would necessarily build on top of Nx. Progress happening in other areas, such as Arrow, may prefer to tackle those problems as two distinct things.

[2021-03-14 19:24] #335 closed

[2021-03-16 04:57] cigrainger commented on #301
@josevalim in reference to your comment in #355 'I am also not sure if a Pandas for Elixir would necessarily build on top of Nx', do you think it would be reasonable to build on top of something like [polars](https://github.com/ritchie46/polars) via Rustler with some glue to yield Nx tensors from polars and vice versa? Similar to the relationship between Pandas and NumPy?

[2021-03-16 06:30] josevalim commented on #301
@cigrainger I was thinking the same and [there are bindings for polars](https://github.com/tyrchen/ex_polars) in Elixir. I am planning to reach out to the author and collect his thoughts. :)

[2021-03-17 11:00] josevalim commented on #315
So it happens that both XLA and Elixir are consistent here. XLA supports half-ties-to-even but it is actually emulated, which means it is much slower. Therefore the way forward is to request PyTorch to support half-ties-away-from-zero. This is already supported on the divide operation, so it sounds more doable.

[2021-03-17 11:00] #315 closed

[2021-03-17 11:01] josevalim opened #341 "Support half-ties-away-from-zero rounding on Torchx"
This feature first has to be requested upstream on PyTorch.

[2021-03-17 20:06] josevalim commented on #341
https://github.com/pytorch/pytorch/issues/54201

[2021-03-19 02:10] carlosfrodrigues opened #342 "Returns the indices after sorting a tensor"
Hi everybody,
I am trying to implement a function that receives a tensor and returns the indices of each value after the tensor has been sorted. Something exactly like the argsort  function from Numpy (https://numpy.org/doc/stable/reference/generated/numpy.argsort.html).
I even called @polvalente to help me but we ran out of ideas.

Anyone has any idea how this can be implemented using Nx?

[2021-03-19 02:31] seanmor5 commented on #342
This is not possible with the current API as far as I can tell. We would need to add support for something similar to:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/client/xla_builder.h#L2367

That returns a tuple and then you can sort with an `iota`.

[2021-03-19 03:03] polvalente commented on #342
@seanmor5 do you think this is something that could be implemented easily given what we already have?
As far as the BinaryBackend goes I reckon it's not that much of a hassle to sort two or more corresponding tensors given the a sort on the first one, but I'm not sure about EXLA or Torchx

[2021-03-19 06:45] elbow-jason commented on #342
This is easily doable with the branch I've been working on for BinaryBackend: #322

[2021-03-19 07:28] josevalim commented on #342
Yes! We already accept a similar shape to sort on the `reduce` functions, so we just need to copy it and support it on XLA. The argsort can be implemented based on sort, something like:

    binary_as_a_list
    |> Enum.with_index()
    |> Enum.sort()
    |> Enum.map(&elem(&1, 1))

I would suggest to start with the XLA one. :)

[2021-03-20 20:40] seanmor5 opened #347 "Keyword lists should raise on non-existing"
This:

[code]

Will produce an error message like:

[code]

In a complex expression, it's easy to make this mistake, and not immediately clear from the error message what the actual issue is

[2021-03-20 21:25] josevalim commented on #347
We do raise for unknown keys! Maybe there is something else at play here?

[2021-03-20 21:36] seanmor5 commented on #347
We do raise on unknown keys that are passed to `opts`, but I don't think we raise when trying to access a key that doesn't exist

[2021-03-20 21:45] seanmor5 commented on #347
I just realized this probably wouldn't be possible at the `defn` level because it depends on the `Access` behaviour. I'm confused though why we get this error message and not an issue about trying to convert `nil` to a tensor?

[2021-03-20 21:47] josevalim commented on #347
Can you provide a complete example? keyword! in the example should fail if opts has a key that is not in the given list.

[2021-03-20 21:52] seanmor5 commented on #347
@josevalim Sorry I was not as clear :) `keyword!` does fail if the user provides a bad option. So you are right this will raise:

[code]

[code]

But this will not raise until later (because `Access` will return `nil`):

[code]

[code]

But the issue is not actually keyword related. The cryptic error message comes from the fact that we call `binary_type` here: https://github.com/elixir-nx/nx/blob/

[2021-03-20 22:27] josevalim commented on #347
I see! I think the best fix for now is to never call binary_type before we call tensor!.

For the main issue, if we want to warn for missing keywords, then we need to know type information, and that would be a job for the Elixir compiler.

[2021-03-21 09:26] #347 closed

[2021-03-22 09:37] josevalim commented on #301
I have been looking more into this and the scope of this feature. At this point, it is clear we won't provide a complete pandas/arrow backend as part of Nx: it is a very wide domain with a lot of problems to tackle. What is left to decide is how big of a scope we want to push as part of Nx.

The document below documents all of my findings on this topic. It is going to be a long one but hopefully i

[2021-03-22 11:05] seanmor5 commented on #301
My thoughts are that it seems the purpose of Dataset support within `defn` would be more for writing idiomatic code (e.g. ability to slice on columns, easy conversion from tabular data to tensor representations, etc.) when working with this style of data and for inspection. Based on that, I think going with a mostly read-only approach is the way to go. So I guess essentially datasets would really

[2021-03-22 16:25] josevalim commented on #301
Exactly one of my concerns too. We will need to make the "hand-off" fairly simple.

[2021-03-23 00:54] arpieb commented on #301
I agree that the concept of a pandas-like equivalent is well outside the scope of Nx core, and really should live somewhere else.  That being said, it would make sense in the idiomatic vein for Nx to at least define a protocol for a dataset that Nx can operate on (purely numeric) and leave the details of how features get vectorized up to other implementations, like suggested above in re to polars.

[2021-03-24 12:56] narrowtux opened #350 "torchx compile error"
Since I can't build tensorflow on my machine, I wanted to try Nx with torch.

I have downloaded `libtorch-cxx11-abi-shared-with-deps-1.8.0+cu111.zip` from https://pytorch.org/
and extracted it into `/usr/share`.

Then I ran `mix deps.compile` and ran into this error:

[code]

## Environment

**Elixir**
[code]

**Ubuntu** ...
[code]

... running in WSL 2 on **Windows 10** Version `20H2` build 19042

[2021-03-24 13:06] narrowtux commented on #350
When I comment out the offending definition in torchx/c_src/nx_nif_utils.hpp:93 , I get another error:

[code]

[2021-03-24 13:08] seanmor5 commented on #350
Your compiler is treating `long` and `int64_t` as the same type. There's some platform dependent behavior with 64-bit integers as far as I'm aware. This is how it's handled in `EXLA`:

https://github.com/elixir-nx/nx/blob/main/exla/c_src/exla/exla_nif_util.h#L16

So the fix would be to try and standardize to one 64-bit type.

[2021-03-24 13:14] narrowtux commented on #350
What do you think about that missing symbol error? Is my libtorch version too new?

[2021-03-24 13:18] seanmor5 commented on #350
I suspect libtorch is failing to dynamically link something that's not in your path. I can't speak definitively, but you might find success doing something like:

[code]

[2021-03-24 13:24] narrowtux commented on #350
Sadly, I'm getting the same error with this

[2021-03-24 13:38] seanmor5 commented on #350
Does it work if you use the CPU only version of libtorch? Can you `echo $LD_LIBRARY_PATH` and see what it looks like?

[2021-03-24 14:28] narrowtux commented on #350
LD_LIBRARY_PATH was empty before I set it. I shall try the CPU only version, will report back

[2021-03-24 14:30] narrowtux commented on #350
CPU only version returns this error when compiling:

[code]

[2021-03-24 14:31] narrowtux commented on #350
Also different error when I get the cxx11 abi version:

[code]

[2021-03-25 11:24] justincjohnson commented on #157
I'm starting to look at Eigen decomposition, as long as no one else is already taking that.

[2021-03-25 11:59] polvalente commented on #157
Go ahead! Don't worry about complex numbers, because we don't support them yet. Most of this issue will need a "part 2" after complex number support is added anyway

[2021-03-25 14:52] AlexJuca commented on #157
@justincjohnson Alrighty!

[2021-03-25 16:24] #311 closed

[2021-03-25 16:40] AlexJuca opened #353 "Compilation fails when running `iex -S mix` in exla directory"
ajax0xd9 in ~/Projects/opensource/nx on main> iex -S mix
Erlang/OTP 23 [erts-11.1.5] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:1] [hipe] [dtrace]

mkdir -p /Users/ajax0xd9/.cache/exla/tf-6af836f407f546cf2f9ab3b5fcb7a8285bda5c96/erts-11.1.5
cd /Users/ajax0xd9/.cache/exla/tf-6af836f407f546cf2f9ab3b5fcb7a8285bda5c96/erts-11.1.5 && \
        git init && \
        git remote add origin htt

[2021-03-25 16:42] AlexJuca commented on #353
Also running mix deps.compile does nothing. It seems that the command just exits immediately after invocation.

[2021-03-25 16:48] josevalim commented on #353
@AlexJuca is that the new Macs (M1) or old ones? In any case, the issue is on compiling tensorflow, so there isn't much we can do to help. Check the FAQ in EXLA's README or otherwise search for the error on Google/Tensorflow repos. :)

[2021-03-25 16:48] #353 closed

[2021-03-25 16:50] josevalim commented on #350
I see some tips here: https://stackoverflow.com/questions/42451310/the-procedure-entry-point-znst7-cxx1112basic-stringicst11char-traitsicesaiceec

Can you please play with the makefile and the calls to gcc? Maybe you need a more recent gcc version too.

[2021-03-25 16:54] AlexJuca opened #354 "I/O operations similar to Numpy"
Will Nx support I/O operations similar to those found in Numpy's npyio?

Functions like:
[code]

if so, will these functions be packaged into their own module or called directly from Nx?

[2021-03-25 16:57] AlexJuca commented on #353
@josevalim Alrighty.

[2021-03-25 17:11] narrowtux commented on #350
Thanks for googling it for me 😅 First, I tried defining the CXX env variable to /usr/bin/g++, but I still get the same error. Now I'm trying to upgrade my ubuntu to 20.04.

[2021-03-25 17:31] narrowtux commented on #350
solved! Compiling with `clang++` did the trick.

[code]

[2021-03-25 17:33] narrowtux commented on #350
This also works in Ubuntu 18.04

[2021-03-25 17:58] josevalim commented on #350
Hooray! :tada:

[2021-03-25 17:58] #350 closed

[2021-03-25 17:59] josevalim commented on #354
We can discuss it, I am interested in the use cases. :)

[2021-03-25 18:44] AlexJuca commented on #354
@josevalim It is common in the ML community to save numpy arrays to disk so they can used at a later time.

And from my research the functionality fit the following use cases:

1. To save predictions from a model and reuse these predictions later.
2. To save pre-processed Tensors like a corpus of text (integers) or a collection of rescaled image data (pixels) and reuse-them later.

In essence, the

[2021-03-25 18:52] AlexJuca commented on #354
It is common to save to `.csv` files but loading and saving gigabytes of data using this format is slow.
Numpy solves that with a binary format that is much more efficient when loading and saving to disk.

[2021-03-25 18:55] josevalim commented on #354
Right! For NN though, they have their own formats, so I am wondering if most tools will have their own formats in top, meaning ours won’t be used much. :)

[2021-03-25 19:17] AlexJuca commented on #354
Numpy has it's own `.npy` binary format and this format seems to be mentioned in the R community.
R also has it's own `.rdata` format.

We could add support for reading `.npy` file if it is common enough and try to convert to valid Nx tensor.

This might be interesting for python developers who have workflows that use `.npy` files and want to experiment with elixir.

This would essentially be like

[2021-03-28 13:00] jonatanklosko opened #357 "Nx.BinaryBackend.concatenate/3 doesn't work properly for middle axis"
Example:

[code]

<details>
<summary>Expected</summary>

[code]

</details>

<details>
  <summary>Numpy example</summary>

[code]

</details>

[2021-03-28 16:57] #357 closed

[2021-03-29 20:17] dannote opened #358 "Sigils for tensors"
Some time ago, I decided to implement a simple library for operations on tensors, and I found that curly braces and commas are too verbose, especially in tests, for instance:

[code]

So I came up with this simple macro:

[code]

Now you can write instead:

[code]
We can make it even better by adding a modifier for transposing tensors:

[code]

If you like the idea, I can create a PR.

[2021-03-29 21:06] josevalim commented on #358
I actually like this idea, even if restricted for matrices, I can see how it is useful. I would love to hear other people's thoughts.

We should probably go only with `~M` though, especially if we don't support interpolation.

[2021-03-30 00:48] seanmor5 commented on #358
+1 to what @josevalim said. I would also be interested to see what other modifiers besides transpose could be added to extend this specifically for matrices. E.g. determinants, inverses, etc.

cc @polvalente for his thoughts and LinAlg expertise

[2021-03-30 05:10] polvalente commented on #358
Sigils are a great idea! The things I currently miss the most for translating math formulas into Nx code in a "less programatic/more descriptive" way are basically the ones @seanmor5 cited:
  - Matrix exponent notation (e.g. `A^2 === dot(A, A)`, `A^-1 === inverse(A)`, `A^-2 === inverse(dot(A, A))`);
  - Conjugate tensor (this will be **really** helpful when we support complex numbers/expressions;

[2021-03-30 09:50] josevalim commented on #358
They can be macros but the above would require them to parse Elixir source code, which may be fine. Another option is to allow interpolation:

    ~m[#{a}]ct === a |> Nx.transpose() |> Nx.conjugate()

But that looks too noisy.

[2021-03-30 11:09] dannote commented on #358
Sorry, it was supposed to be:

[code]

[2021-03-30 11:45] dannote opened #359 "is_tensor guard"
It might be useful to have this shortcut:

[code]

[2021-03-30 11:59] dannote opened #360 "Tensor operators"
Continuing the journey on macros, I have ported some more macros from my project:

[code]

Now they can be used (with sigils from #358) like:

[code]

However, that doesn't cover the cases when those operators applied at runtime:

[code]

Maybe we should create a protocol for arithmetic operators?

[2021-03-30 12:09] josevalim commented on #359
For now I would prefer to go with pattern matching on %Nx.Tensor{} and, if that is not possible, fallback to is_struct. I don't see have the guard to be very useful beyond that. :) Elixir doesn't support is_xyz variants for its structs either. Thanks!

[2021-03-30 12:09] #359 closed

[2021-03-30 12:11] josevalim commented on #360
We support those inside `defn`. Protocols adds tons of complications, it makes the native mathematical operations much slower, they can be used in guards, they are are hard to optimize, etc.

[2021-03-30 12:11] #360 closed

[2021-03-30 12:18] polvalente commented on #358
Yes, and too implicit. Most of this second part of my comment was just curiosity on how far sigils could go regarding this. Still, I feel that for complex numbers this might prove useful somehow

[2021-03-30 15:30] shoz-f commented on #354
Hello wizards.
A few days ago, I reworked my Npy module to load/save Nx.tensor into npy/npz files.

I created the original Npy module to take the tensor processed by python's tensorflow and use it in the tensorflow-lite module on Nerves.  The initial specification was to load/save my own %Npy{} into a npy file.

If you are interested, please visit my github:
     https://github.com/shoz-f/npy_ex

[2021-03-30 15:37] seancribbs opened #361 "Discussion: binary comparison operators as special-forms/macros?"
There already exist in `Nx.Defn.Kernel` a majority of basic arithmetic operators that are shorthand for functions in the `Nx` module. However, binary comparison operators must be called on `Nx` inside numerical functions:

Operator | Function
------------ | -------------
`==` | `Nx.equal/2`
`!=` | `Nx.not_equal/2`
`<` | `Nx.less/2`
`>` | `Nx.greater/2`
`<=` | `Nx.less_equal/2`
`>=` | `Nx.greater_e

[2021-03-30 16:10] seanmor5 commented on #361
I have been using a `to_predicate` macro that looks something like:

[code]

to accept any regular Elixir value (like true/false) inside if statements. It should be noted that any branching that uses regular Elixir terms isn't really branching at runtime but instead at expression compile time. So usage of `to_predicate` with different values results in compilation of completely different programs

[2021-03-30 16:48] josevalim commented on #361
Ah, the error message can be a good route, since I was torn between defaulting to Nx.all? or Nx.any?.

So what do you think about:

1. Make sure `and` and `or` raise a clear error message if any of the arguments are booleans (check will be Nx.Defn.Kernel)
2. Make sure `if`/`cond` raise a clear error message if any of the arguments are booleans (check will be Nx.Defn.Expr)
3. Make sure `if`/`cond`

[2021-03-30 16:57] josevalim commented on #361
If you want to send a PR, it would be *very* welcome! :) Otherwise someone else will tackle it. :)

[2021-03-31 08:05] josevalim opened #362 "Add mechanism for optional backend functions"
While we provide built-in implementations for inverse, tile, etc. This has the benefit that we get `grad` of these functions for free. However, we also want to allow backends to provide their own implementation for performance reasons.

This may seem straight-forward at first but the biggest issue is related to how optional backend function ties in to Expr/grad. We will need Expr to implement all

[2021-03-31 09:13] AlexJuca commented on #354
@shoz-f Nice! I will take a look at your implementation. It would be nice for this to be part of Nx itsel in my opinion. Tell me from your experience, how common is this feature in a ML researcher or practitioners workflow?

[2021-04-06 11:58] solanav opened #368 "Makefile LibTorch version check"
Torchx's makefile throws an error if the version of LibTorch is not equal to `REQUIRED_LIBTORCH_VERSION` but the error message says it should be "at least" that version.

Inside `torchx/Makefile` on line 29:
[code]

So if 1.9 (nightly) version is to be supported, we should change this to `>=` instead of `!=`.

[2021-04-06 16:06] #342 closed

[2021-04-12 03:33] dudeofea opened #372 "Could not run exla/bench/softmax.exs"
I am trying to get setup using EXLA with CUDA, here is my problem:
I first run the docker container like so (same as README):
[code]
Then I run the benchmark (I copied it into my lib folder):
[code]
And I get the following:
[code]
But I cannot get the benchmark to run, similarly, I cannot run the `defn` compiler with `{EXLA, client: :cuda}` as it gives the same error. I have compiled EXLA in the d

[2021-04-12 07:05] josevalim commented on #372
Each client must be configured. For EXLA in particular, we change the default client to run on CUDA, so you don't need to specify `client: :cuda`:

https://github.com/elixir-nx/nx/blob/main/exla/config/runtime.exs#L5

If you do set client: :cuda, then you need to configure it in the config/runtime.exs file. :)

[2021-04-12 17:08] dudeofea commented on #372
Does that mean the benchmark no longer needs `client :cuda`?
https://github.com/elixir-nx/nx/blob/main/exla/bench/softmax.exs#L17

It seems to me that `runtime.exs` uses the `EXLA_TARGET` env variable, which in my case is "cuda" since I'm running it in the docker image. Also, from this line it looks to me like it's using `client: :host`, ie the CPU:
[code]

I'm pretty new to Elixir, but I'll try s

[2021-04-12 17:14] josevalim commented on #372
@dudeofea ah, good catch. Can you please add this to the top of the file:

[code]

And if it works you can send a PR. :)

[2021-04-14 21:21] seanmor5 opened #374 "Add wrapping options in `Nx.to_batched_list`"
In real datasets, it's common that your preferred batch size is not a multiple of the size of your dataset. In these cases it's useful to either:

1) Repeat the first n values until a complete batch is made
2) Truncate the last n values

I believe we should add an option similar to [Enum.chunk_every](https://hexdocs.pm/elixir/Enum.html#chunk_every/4) which determines what to do with the leftover v

[2021-04-14 21:25] josevalim commented on #374
From the EXLA perspective, we likely want to repeat. Otherwise a different batch means compiling a different executable. :)

[2021-04-14 21:28] seanmor5 commented on #374
Oh sorry, I meant we discard the last n values that don't make an even batch size, that way all batches are the same size

[2021-04-15 14:21] #374 closed

[2021-04-15 14:30] seanmor5 commented on #372
@dudeofea I have resolved this here: 470f752dc07cc211cedbed97914c73a0d3a701d7

It should run the benchmarks without issue if you have `EXLA_TARGET=cuda` set.

[2021-04-15 14:30] #372 closed

[2021-04-21 10:19] fire commented on #323
I'm able to get back on this in May.

Let's write a description of the current state of this.

[2021-04-21 10:58] versilov commented on #323
Nice!

Device selection is ready, just not in the main branch yet.

[2021-04-28 23:16] rnwatanabe opened #383 "Nx.to_heatmap/1 function should display an image resized to fit the screen"
For large images the function displays an image that does not fit the screen. Below is an example.

![image](https://user-images.githubusercontent.com/12960874/116483850-4b616b80-a85e-11eb-9473-f0c6ad0acc64.png)

The function should resize the image so as to the whole image  can be shown.

[2021-04-28 23:24] seanmor5 commented on #383
Thanks for pointing this out! My thoughts are that `to_heatmap` should not implicitly downsample. We could include downsampling options, but I'm not sure I like that either.

I would prefer an approach where we introduce a `resize` or `downsample` method similar to [jax.image.resize](https://jax.readthedocs.io/en/latest/_autosummary/jax.image.resize.html), but I'm not sure that belongs in the API

[2021-04-29 00:01] rnwatanabe opened #384 "Create a Nx.max/1 to compute the maximal value of a tensor"
Currently,  exists only a Nx.max/2, that computes the maximal value between the equivalent positions of two tensors.

A Nx.max/1 method would be useful to compute the maximal value of a single tensor.

A workaround is:

t[Nx.to_flat_list(Nx.argmax(t))]

Where t is  the tensor variable.

[2021-04-29 01:22] rnwatanabe commented on #383
Another option would be to resize the  pixel as shown in screen so as to the whole image fit the screen.

[2021-04-29 01:32] seanmor5 commented on #384
There is `Nx.reduce_max/2` that works as you've described:

[code]

[2021-04-29 01:32] #384 closed

[2021-04-29 07:32] josevalim commented on #383
The issue here is really Livebook rendering it as ansi. Our goal is to support custom widgets in the future so we can render those as actual images, this way we will have more control. So I will close this for now, as IMO it is a Livebook issue rather than Nx one. :) We will get there. Thanks @rnwatanabe !

[2021-04-29 07:32] #383 closed

[2021-05-04 14:22] #182 closed

[2021-05-06 09:20] #122 closed

[2021-05-06 12:56] #368 closed

[2021-05-07 19:45] justincjohnson commented on #157
I'm clearly not moving fast on Eigen decomposition.  If anyone is waiting for this, please feel free to take it from me.  If it sits longer, I'll jump back in when I have time.  Thanks.

[2021-05-07 23:43] jonatanklosko opened #393 "Argsort results in segmentation fault given tensor of the same values"
Given a tensor of repeated value (e.g. 100 zeros) `argsort` results in segfault when compiled with EXLA.

**Reproduction**

[code]

**Debug output**

[code]

**Observations**

* The issue is not specific to `0`, but rather to tensors of a single unique value
  * Actually it's even the case if some values are the same, for example:\
    `Nx.concatenate([Nx.broadcast(0.0, {10}), Nx.broadcast(1.0, {1

[2021-05-08 05:55] josevalim commented on #393
What do you mean by this? Do we have different defaults for the :comparator function?

[2021-05-08 09:27] jonatanklosko commented on #393
Not even that. For tensor of 10 zeros EXLA produces:

[code]

Without EXLA the indices are ascending though.

For higher dimensions it's even more weird (10x10 zeros):

[code]

The columns are sorted desc, asc, desc, asc, ...

This is logically correct, but this behavior is different from Jax if I didn't miss anything, so it is weird.

[2021-05-08 09:46] josevalim commented on #393
Ah, the sorting is not stable. I will see if we can do something about it.
--

*José Valimhttps://dashbit.co/ <https://dashbit.co/>*

[2021-05-08 09:50] jonatanklosko commented on #393
Ah, so perhaps Jax does some tricks to make it stable. For the record, the instability is not a problem in my case, just thought I could be somehow related, but since it's expected feel free to ignore.

[2021-05-08 19:55] #393 closed

[2021-05-09 12:37] jonatanklosko opened #395 "Anonymous function with `if` clause doesn't work with `BinaryBackend`"
Given anonymous function with `if` clause inside `defn`, evaluation with `BinaryBackend` breaks (but does work with EXLA).

**Reproduction**

[code]

**Error**

[code]

[2021-05-10 08:38] #395 closed

[2021-05-10 09:48] jonatanklosko commented on #395
Thank you :heart: :rocket:

[2021-05-10 17:22] josevalim opened #399 "Fix cholesky for EXLA"
Currently it errors in cases like this:

[code]

It should be:

[code]

[2021-05-11 22:17] seanmor5 opened #402 "Support dynamic slicing in access behaviour"
In #400 we added support for basic dynamic slicing and dynamic updates via `slice` and `put_slice`. We need to adjust the access behaviour to support dynamic slicing and dynamic updates as well. For example:

[code]

Does not currently work.

[2021-05-12 10:29] josevalim opened #403 "triangular_solve options for binary backend does not match EXLA behaviour"
https://github.com/elixir-nx/nx/blob/main/nx/test/nx/lin_alg_test.exs#L15

[2021-05-12 14:07] josevalim commented on #402
This is on master. :) For put_in and update_in, we have #229.

[2021-05-12 14:07] #402 closed

[2021-05-12 15:21] seanmor5 opened #404 "Dot with batching bug"
The following test fails:

[code]

It actually yields an inspect error, the size of the output does not match the expected shape

[2021-05-12 15:25] #404 closed

[2021-05-13 08:21] #403 closed

[2021-05-14 10:27] #208 closed

[2021-05-14 16:52] andrewphillipo commented on #217
Would be interested if anyone has got this to work yet?

[2021-05-14 17:05] seanmor5 commented on #217
Hi @andrewphillipo, I have been tracking some developments in JAX that this may now be possible on TF Master: https://github.com/google/jax/issues/5501 and https://github.com/google/jax/pull/6701

I am willing to put a branch together that upgrades our TF version and adds the flags necessary for building on Mac ARM, but I unfortunately don't have a machine to test on.

[2021-05-14 17:25] josevalim commented on #217
@seanmor5 i think we can upgrade the TF version and then let users play with flags. :) Upgrading TF would already be a huge help.

[2021-05-14 19:27] msluszniak opened #409 "Function Nx.LinAlg.lu does not work properly"
function call
[code]

gives PLU decomposition as given below

[code]

But the product of those matrices has different determinant than original matrix (3 instead of 1).

[2021-05-14 20:07] seanmor5 commented on #409
cc @polvalente

[2021-05-14 20:12] polvalente commented on #409
I'll take a look into this as soon as I can. Somehow the second element in the first row of the multiplication result is returning as 0 instead of 1:
[code]

This seems like an off-by-one error, but could be something else

[2021-05-14 20:40] aphillipo commented on #217
If it helps I have a Mac mini here you can remote into if you like? Not sure what the best solution is for that or if you even have time. Also happy to test anything...

[2021-05-15 08:12] josevalim commented on #409
Yeah, the `p |> Nx.dot(l) |> Nx.dot(u)` is not holding on this case either. :)

[2021-05-15 08:26] imsekun commented on #354
Are there any temporary workarounds for this? I don't intend to use the model elsewhere, just within Axon. But I'm having trouble thinking of an approach that allows me to reuse a trained model later on, or in a different environment/application instance. Like, training locally, and using the model in a production environment. Or maybe, just to apply the model in a different instance.

[2021-05-15 09:04] josevalim commented on #354
@imsekun if production and dev have the same endianess, then it is a matter of :erlang.term_to_binary to serialize it and write the result to a file. Then File.read! and :erlang.binary_to_term to read it.

[2021-05-15 09:36] imsekun commented on #354
@josevalim Oh wow TIL that existed. Awesome. Thanks so much!

[2021-05-16 14:49] seanmor5 opened #411 "Infer dimension in reshape"
NumPy allows a dimension of a reshape to specified as -1 to indicate the size of the dimension will be inferred based on other dimensions. This is useful in cases where you know the size of some dimensions (e.g. feature dimensions), but don't know the size of other dimensions (e.g. number of examples in a dataset).

Adding this is trivial in Nx, and I think it's a big convenience especially in cas

[2021-05-16 14:54] josevalim commented on #411
+1! We also have the option of using an atom and be more explicit about it. Thoughts?

[2021-05-16 15:05] seanmor5 commented on #411
I think using an atom is probably better, in Axon I went with `nil` to represent a "fill in the blank" but I'm open to other options as well

[2021-05-16 15:13] josevalim commented on #411
Yeah, I think they are distinct though. Nil in Axon makes sense, because the information is absent, but here it is “computed”. Does it make sense?

[2021-05-16 22:06] #409 closed

[2021-05-19 08:00] polvalente commented on #215
@josevalim this issue should probably be updated now that #414 and #415 added a basic CI to Nx, but we're still missing CI validations for EXLA and Torchx

[2021-05-19 08:12] josevalim commented on #215
Thanks!

[2021-05-19 08:12] #215 closed

[2021-05-19 09:52] #117 closed, assigned to nobody

[2021-05-27 14:42] lenileiro commented on #217
@wojtekmach could have a crack at it, one more time?

[2021-05-28 04:27] polvalente commented on #157
I'm going to start tackling Eigen decomposition

[2021-06-05 04:59] drozzy commented on #312
Same issue here with M1, with exla not compiling.

[2021-06-05 20:43] seanmor5 opened #419 "Allow as_type to convert from float to integer"
I think our current implementation is too restrictive. I have an implementation that ends up with `f32` tensors:

[code]

And I need to use them to index:

[code]

But because of the restriction the current implementation is impossible

[2021-06-06 09:16] josevalim commented on #419
@seanmor5 the goal is to use Nx.round/ceil/floor/truncate for those cases. Would that be possible for you?

[2021-06-06 12:14] seanmor5 commented on #419
@josevalim My issue is that round/ceil/floor all still return `f32` and slicing checks to make sure there is an integer start index:

[code]

[code]

[2021-06-06 12:43] josevalim commented on #419
I see!

I think we can support conversion between floats and integers, and we will document that it truncates. That's what numpy does it seems:

    np.array([1, 2, 2.2, 2.5, 2.8]).astype("int")

[2021-06-06 14:04] fire commented on #323
Can you tell me what has happened since? Wanted to get back into this.

[2021-06-06 14:40] seanmor5 commented on #411
@josevalim Yes that makes sense. Do you like any of these?

[code]

I personally like `:auto`

[2021-06-06 14:42] josevalim commented on #411
Good call, Any of those works for me :)

[2021-06-06 15:52] #419 closed

[2021-06-06 16:18] #411 closed

[2021-06-07 11:09] #361 closed

[2021-06-15 23:57] aphillipo commented on #217
Does this mean anything to you guys ;-) https://developer.apple.com/metal/tensorflow-plugin/

[2021-06-18 16:13] seanmor5 opened #425 "Window max/min fail for f64 input types on binary backend"
The issue is somewhere in `pad`. Two tests that fail (they raise, no result is returned):

[code]

[2021-06-18 17:26] josevalim commented on #174
Note: our goal is not to implement this as a transform, but instead as part of the named axes.

[2021-06-19 00:31] seanmor5 commented on #217
For those tracking this issue, #423 uses a new version of TensorFlow which should support Mac ARM. I believe you might need Bazel 4.1. If anybody would like to take a shot at building off of that branch, that would be really appreciated

[2021-06-19 14:01] #62 closed

[2021-06-19 14:02] seanmor5 commented on #217
Didn't mean to close

[2021-06-19 14:29] wojtekmach commented on #217
I tried the following:

[code]

[code]

[2021-06-23 12:37] seanmor5 commented on #362
I propose adding a `custom_call/2` metadata node or similar which looks something like:

`custom_call(:target, fallback_impl_fn)`

Then compilers and backends can register custom calls for specific targets, during evaluation and compilation those special targets are dispatched to the registered custom call implementation. In the backward pass it is just metadata so the gradient is still valid.

Th

[2021-06-24 07:52] #425 closed

[2021-07-08 00:52] seanmor5 opened #432 "Performance decline with EXLA Client"
There is a noticeable performance decline with the new EXLA Client when training neural networks in Axon on CPU and GPU. I am confident the culprit is: https://github.com/elixir-nx/nx/blob/main/exla/c_src/exla/exla_client.cc#L14-L28

Specifically the Relayout (which I've only encountered as necessary on TPU, but there are checks we can do to see if it's necessary on all platforms) and the addition

[2021-07-08 06:20] josevalim commented on #432
With `Mix.install/2`, we can have something like:

[code]

inside the bench directory and build an Axon model but keep it locally.

[2021-08-01 18:06] josevalim opened #434 "Swap arguments in put_slice"
It should be `put_slice(tensor, start_indices, values)`, which is typically the convention in Elixir.

[2021-08-07 15:13] lucasavila00 opened #435 "Be a target for m2cgen (too slow to compile huge file)"
I'm hacking around, trying to support Elixir (and Numeric Elixir) as a target for [m2cgen](https://github.com/BayesWitnesses/m2cgen).

m2cgen has a big test suite, and running this test suite on Regular Elixir is too slow.

I tried to use NX to speed things up, but NX takes too long to compile the files.

I have set up a little project which contains one model of the test suite, exported in Regula

[2021-08-07 16:04] josevalim commented on #435
From a first glance, I don’t think Nx is a good target for m2cgen, exactly because Nx is designed to leverage high level information for optimizations and the tool has condensed the code into a low level in a way it would be hard for the backends to optimize it. In other words, Nx is meant to receive the model before you give it to m2cgen.

my suggestion is for you to see how to optimize the Elixi

[2021-08-07 16:04] #435 closed

[2021-08-07 16:16] josevalim commented on #435
Here is a more complete example of how you should handle the input and read from it:

[code]

The function `read` should be defined directly in the module. Note `float` here means double.

If you can compile the whole function into blogs of pattern matching, then even better. This:

[code]

could be this:

[code]

[2021-08-07 17:24] lucasavila00 commented on #435
Awesome, thanks for the tips :)

[2021-08-11 17:52] #434 closed

[2021-08-19 11:00] joelberkeley opened #438 "Q: Looking to hear how you interface with XLA"
I'm writing a [probabilistic modelling toolbox](https://github.com/joelberkeley/spidr) in Idris. I intend to use XLA for the backend, and see that you've done similar in exla. I'm very interested to hear how you went about that, and what your experience was of doing that, if anyone has the time.

[2021-08-19 11:50] josevalim commented on #438
There is a XLA mailing list which may be a better discussion point: https://groups.google.com/g/xla-dev  Our initial attempt was mostly around getting a minimal example working in C/C++, and then we slowly started adding APIs around the minimal example so we could start doing things more programmatically. Perhaps going back to the commit history gives a good overview of that. :)

[2021-08-19 11:56] josevalim commented on #438
Btw, we don't use a FFI-like lib, we need to write explicit wrappers in C and export them using a VM-specific API. Looking at Python may be a better example if you need to go the FFI route.

The other thing that we learned is that, once you need to manage multiple devices and so on, it is better to wrap around PJRT (which is meant to be Python specific but still general enough) than building your

[2021-08-19 11:56] #438 closed

[2021-08-19 12:08] joelberkeley commented on #438
thanks. Could you say what you mean by "export them using a VM-specific API"?

However I do it, I may use the C wrappers you've written since I intended to do that anyway. With the wrappers, can I ask if you chose to keep the C API close to the XLA API or the Elixir API?

[2021-08-19 12:57] josevalim commented on #438
Right, our APIs are very specific to Elixir/Erlang, so I don't think they are useful. The PJRT stuff inside XLA itself is the most generic language stuff I can think of that you should build upon of.

[2021-08-20 08:20] #326 closed

[2021-08-20 08:21] josevalim commented on #323
Torchx development has stalled for now, so we will close this until it resumes. Thanks!

[2021-08-20 08:21] #323 closed

[2021-08-20 08:28] josevalim commented on #92
Closing this for now.

[2021-08-20 08:28] #92 closed

[2021-08-23 16:17] vegabook opened #441 "EXLA not compiling on ARM64 (Jetson Nano) due to bug introduced in Tensorflow for AArch64"
EXLA is not compiling on the Jetson Nano (Aarch64, Ubuntu 18.04) because of the following issue:

<img width="915" alt="Untitled" src="https://user-images.githubusercontent.com/3780883/130481626-b483b0da-a294-4594-b758-1338a1cf191c.png">

Namely: _AArch64GenO0PreLegalizeGICombiner.inc: No such file or directory_

This is appears to be documented on [this Tensorflow github issue](https://github.com

[2021-08-23 17:04] josevalim commented on #441
@vegabook you can change it using this env var: https://github.com/elixir-nx/nx/blob/main/exla/Makefile#L18

Although we should keep this open until we update the bundled Tensorflow. :)

[2021-08-23 17:29] vegabook commented on #441
@josevalim Okay great have exported that env and recompiling now. Takes 12 hours on a Jetson Nano (massive swapping) so will let you know how it went tomorrow ;-)

[2021-08-24 12:17] #153 closed

[2021-08-29 14:42] dognotdog opened #444 "EXLA SVD dimensions mismatch when first dimension larger than second"
Doing an SVD through the EXLA backend, like so:
[code]

generates the following error when the first dimension is smaller than the second (in this case for a `1023x1431` matrix):
[code]

Transposing the matrix makes the error go away, and it is generated at the end of the calculations, presumably when the output buffers are being asssembled.

I believe this was with master at https://github.com/el

[2021-08-29 15:02] seanmor5 commented on #444
I'm guessing our shape rule here is wrong: https://github.com/elixir-nx/nx/blob/main/nx/lib/nx/shape.ex#L1439

@polvalente Can you look into this?

[2021-08-29 15:45] polvalente commented on #444
Looking into it. IIRC the BinaryBackend algorithm doesn't like one of "tall and narrow" or "small and wide" matrices.
I'll see if EXLA works fine with all three cases (tall, wide and square). If it does, I'll just let BinaryBackend raise on it and refactor the shape rule :)

[2021-08-30 02:59] #444 closed

[2021-08-30 09:02] josevalim opened #446 "Add haltable streams"
It may be that Axon will need to halt streams from inside. Maybe this can be done with host communication or we may need to bundle it inside Nx.Stream.

[2021-08-31 13:35] dognotdog commented on #444
@polvalente not being an expert, I guess that normally, the SVD takes a lot longer on one kind of matrix as the other, as the smallest dimensions should be the "primary" since that's how many singularities you'll get anyway, and doing it the wrong way up just makes the computation a lot longer for the same results, as you'll be shuffling around zeros.

What I ended up doing is creating a wrapper t

[2021-08-31 13:42] polvalente commented on #444
@dognotdog the problem you ran into originally was a limitation of the BinaryBackend which I accidentally imposed on all backends when implementing. Basically the BinaryBackend code doesn't work yet with wide matrices, but EXLA seemed to work fine, at least in unit tests.

Taking too long for wide matrices is probably due to the same reason BinaryBackend doesn't work -- after calculations, we need

[2021-08-31 13:59] torepettersen opened #448 "Creating tensor from float decimal issue"
Creating a tensor from a float is causing a problem with the decimals:
[code]

The same goes if type is set to f16:
[code]

But for f64 it seems to work:
[code]

[2021-08-31 14:05] josevalim commented on #448
Oh, it is because they are in f32 and f16 and we are computing the shortest representation for f64. We would need to implement shortest representation algorithms for both f32 and f16.

[2021-08-31 14:05] polvalente commented on #448
Thanks for the feedback! This is an issue with the precision of the float itself, not a problem with Nx.

https://www.h-schmidt.net/FloatConverter/IEEE754.html

Here you can check that the same representation for 0.43 is reached for 32-bit floats. I'm not sure if it allows for converting to f64 ou f16.

Also, if you're not familiar with floats, the following pure Elixir snippet might help shed som

[2021-08-31 14:35] DianaOlympos commented on #448
Yeah i will take a look. Will take a bit of time, but we should be able to handle these

[2021-09-15 08:50] turion commented on #157
I'd propose calculating determinants as a required feature.

[2021-09-20 00:27] dognotdog opened #465 "EXLA protobuf build error after 432bc74"
After, and possibly related to commit 432bc74, new error occurs trying to build EXLA through `Mix.install()`, after cleaning `mix_cache()` path. Possibly also related to change in pre-built XLA binary, but that's hard to tell as previous install of `EXLA` did not use the pre-built archive.

Local version of protobuf is `3.17.3` through `brew`.

[code]

Trying to build with `XLA_BUILD=true` instead

[2021-09-20 00:36] polvalente commented on #465
@dognotdog try checking if there's a stray libexla.so in your `/priv` dir. If so, erase it. Also, nuke `_build` and `deps`

[2021-09-20 01:48] dognotdog commented on #465
I nuked all of `Mix.Utils.mix_cache`, and it was from livebook (no residuals in the livebook cwd) so it was a completely clean build as far as I can tell.

[2021-09-20 05:42] josevalim commented on #465
@dognotdog do you have protoc available locally? If so, which version it is?

[2021-09-20 05:43] josevalim commented on #465
Also, can you please paste the contents of "cache/xla_extension/include/tensorflow/compiler/xla/xla_data.pb.h"?

[2021-09-20 13:39] dognotdog commented on #465
So the `XLA_BUILD=true` failed with the same protobuf errors, eventually.

Local version of protobuf is `3.17.3` through `brew` as far as I can see.

deps/exla/exla/cache/xla_extension/include/tensorflow/compiler/xla/xla_data.pb.h is here:
https://gist.github.com/dognotdog/770ac990a3c86de84483e308743a8422

[2021-09-20 14:30] seanmor5 commented on #465
This is strange as `PROTOBUF_VERSION` should be defined in `google/protobuf/port_def.inc` which should be packaged and included in the XLA tarball. I ran into this error myself a few times and I think it was because my existing installation of the protobuf headers was conflicting with those packaged inside the tarball. Can you try something like what's described here: https://stackoverflow.com/que

[2021-09-20 14:54] dognotdog commented on #465
@seanmor5 good catch! `brew unlink protobuf`, eg. removing protobuf from the path, solved that problem!

[2021-09-20 14:58] josevalim commented on #465
AMAZING. I will add a note to the README.

[2021-09-20 14:58] dognotdog opened #468 "torchx: libtorch 1.8 now required, but only 1.9 binaries available for Mac"
See
https://github.com/elixir-nx/nx/commit/432bc74839f6237abefb02a4135c0dd852f95c7e#r56752301

the official libtorch site does not provide 1.8 `LTS` builds for Mac, currently only `stable` with 1.9, and the above changes causes the build to thus stop working.

Is libtorch 1.9 problematic for torchx?

[2021-09-20 15:02] #465 closed

[2021-09-20 15:17] josevalim commented on #468
@dognotdog I have removed the check since our plan is to download it for you but keep in mind torchx is not in a usable state at the moment, it is very limited. :)

[2021-09-20 15:17] #468 closed

[2021-09-20 19:03] seanmor5 commented on #197
This has been a frustration for me for the past 7 months now, but I am happy to report that I was able to pass all tests with CUDA 11.0 and cuDNN 8004 by setting:

[code]

Which increases the suggested stack size of a dirty IO thread from 40 kilowords to 128 kilowords. Is this something that should be documented to be considered fixed? Or is there another option (e.g. can we have project specific

[2021-09-20 19:47] #197 closed

[2021-09-20 20:23] #432 closed

[2021-09-20 21:26] dognotdog opened #473 "Nx.LinAlg, Nx.BinaryBackend.triangular_solve B-argument shape mismatch"
In `Nx.BinaryBackend.triangular_solve`, and `Nx.BinaryBackend.Matrix.ts` the shape checks seem out of whack.

It seems like the valid dimensions for A should be `{n,n}`, and B should be `{n,m}`, including `m = 1` or `{n}` for one-dimensional tensors.

The shape check in ~`Nx.BinaryBackend.triangular_solve`~`Nx.LinAlg.triangular_solve` does not reflect this, and even when fixing that, it seems like

[2021-09-20 21:56] polvalente commented on #473
@dognotdog I can work on this :)

The actual implementation for `triangular_solve` ended up being a little more convoluted than it should be. Perhaps this is an opportunity to refactor it.

[2021-09-21 10:21] #473 closed

[2021-09-21 10:22] polvalente commented on #473
@dognotdog If there are still any issues with the functionality, let us know! I believe you can still comment here on the issue even after it's closed

[2021-09-21 13:45] dognotdog commented on #473
@polvalente thanks, I've not gotten around to setting everything up to run on BinaryBackend instead of EXLA, but I'll comment when I get to it!

[2021-09-23 17:56] seanmor5 opened #483 "Nx default arguments not working as expected"
I have:

[code]

And am trying:

[code]

But get:

[code]

[2021-09-24 15:23] seanmor5 opened #485 "Add cumulative reduction functions"
This discussion came up in the Elixir slack. I think we should add cumulative reductions to the Nx API, namely:

- [ ] cumsum
- [ ] cumprod
- [ ] cummin
- [ ] cummax

Most backends will have a more specific, optimized implementation than what we can write with the current API. We can implement them in XLA using `reduce_window` - this will not work in Torchx obviously.

[2021-09-24 15:29] polvalente commented on #485
@seanmor5 perhaps we could have `cumulative(tensor, opts)`, in which one of the opts is an atom for the operation. This way all main operations could be defined over time without the need to have a compile-time check/conversion like we have for Nx.map

[2021-09-24 15:32] jonatanklosko commented on #485
Just in case someone is already desperate for cumulative sum on 1d tensor, here's what I did :)

<details>
  <summary>Code</summary>

[code]

</details>

[2021-09-24 16:06] josevalim commented on #485
@polvalente I am not a big fan of the atom approach because it is worse in terms of API discovery, backend callbacks, etc. And if we add new atoms, it is hard to express that at compile time at the moment (due to the lack of types).

[2021-09-24 17:09] zacky1972 commented on #441
I also tried to build EXLA on Jetson AGX Xavier; I met the same issue to this: https://github.com/tensorflow/tensorflow/issues/49136

So, I revised `deps/xla/Makefile` like here

[code]

[2021-09-24 18:07] #217 closed

[2021-09-24 18:13] josevalim commented on #485
This is the code according to @seanmor5:

[code]

[2021-09-24 20:18] zacky1972 commented on #441
Complete! Thank you.

[2021-09-24 20:38] #441 closed

[2021-09-25 13:05] josevalim opened #487 "Get default backend from app env"

[2021-09-25 19:14] #487 closed

[2021-09-26 09:11] #483 closed

[2021-09-27 15:40] dannote opened #490 "Support hardware acceleration on Apple Silicon"
As I mentioned earlier (elixir-nx/xla#8), Apple claimes that TensorFlow now supports hardware acceleration on M1 via PluggableDevice.

The benchmarks [look impressive](https://blog.tensorflow.org/2020/11/accelerating-tensorflow-performance-on-mac.html) so it would be great to add this option to EXLA:

![MacBook Pro 1](https://user-images.githubusercontent.com/2206583/134935867-2365be42-26d2-47e1-b

[2021-09-27 15:47] josevalim commented on #490
This would be awesome to have supported. For now, don't worry about the APIs and stuff, focus on making it work and then we can discuss the proper endpoints later. :) About the error, I am not sure what could be the root cause though. Who is raising that? Is it Tensorflow? Btw, we are all on the #machiinelearning channel of the Erlang Ecosystem Foundation Slack. You can create [a free account here

[2021-09-27 16:01] dannote commented on #490
Okay, great!

Yes, the error is raised [here](https://github.com/tensorflow/tensorflow/blob/ea2a15b0466cbb96a311bc1511561943eb929517/tensorflow/compiler/xla/service/compiler.cc#L112). I'll try to figure out the cause myself, though would be glad to know if someone has experienced something like that.

Then see you soon :)

[2021-09-27 16:14] josevalim commented on #490
@dannote what does `EXLA.Client.get_supported_platforms` return for you?

[2021-09-27 17:20] dannote commented on #490
It returns:

[code]

But when I tried to initialize client with `EXLA.NIF.get_gpu_client/2`, it said:
[code]

[2021-09-27 17:34] seanmor5 commented on #490
Unfortunately I don't think this is going to be possible. You'll notice `get_supported_platforms` doesn't list `METAL` as a supported platform, but it's listed as an available Stream Executor platform. This is because XLA only lists platforms with a [supported XLA compiler](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/service/platform_util.cc#L72).

It is possible t

[2021-09-27 17:42] seanmor5 commented on #490
If the M1 already has a supported LLVM backend, then it shouldn't be too difficult to get a trivial example up and running. If not, I think the process moving forward would be much more difficult

[2021-09-27 18:45] dannote commented on #490
@seanmor5 Thank you for your reply!

[This dump](https://gist.github.com/dannote/552a2a9ba4eeaa07bca33925c5a00d07) might give you a clue what is Metal plugin capable of (`nm -gU libmetal_plugin.dylib | grep metal_plugin`).

Good idea, I'll do that.

I think Apple will update this plugin after the Monterey release, so we'll see.

[2021-09-28 11:14] seanmor5 opened #491 "(Nx.BinaryBackend) Strided slice issue with top-dimension slice"
This code in the BinaryBackend doesn't work as expected:

[code]

The equivalent in NumPy:

[code]

This seems to only be a problem with 1-D tensors:

[code]

[2021-09-28 11:21] seanmor5 commented on #491
This seems to be a problem with striding along the top dimension:

[code]

[2021-09-28 11:38] polvalente commented on #491
Looking into this

[2021-09-28 12:11] seanmor5 commented on #491
@polvalente I have a fix almost ready don't worry :)

[2021-09-28 13:22] polvalente opened #493 "Nx.slice indices + lengths raises when reaching out of bounds"
If starts + lengths ends up out of bounds, libtorch raises

Example code:

[code]

[2021-09-28 14:35] dannote commented on #490
@josevalim Sorry for the offtopic, but I signed up at [erlef.org](https://erlef.org/slack-invite/erlanger) and didn't find that channel. Is `erlanger.slack.com` the right server?

[2021-09-28 14:53] josevalim commented on #490
Go here: https://erlef.org/members/profile and then go to "Erlef Slack invite". It is not erlanger.slack.com. :)

[2021-10-01 00:40] zacky1972 opened #496 "How do I check that a tensor equals a constant tensor in defn?"
I'd like to check that a tensor placed out of `defp` equals a constant tensor in the `defp`, which is called by `defn` as follows:

[code]

However, it doesn't work well:

[code]

@polvalente said "Could you be running into issues with having the defn compiler setting a different backend than the one you're using in the if condition?", then, I show them by IO.inspect:

[code]

So I tried the follo

[2021-10-01 06:09] josevalim commented on #496
Hi @zacky1972! The thing you need to keep in mind is that `defn` does not work with tensors, it works with tensor expressions! So we execute the code inside `defn` and after we execute that, we evaluate the tensor expression (in the CPU, GPU, etc). So **you need to keep your code inside `defn` as much as possible**. This will work:

[code]

You will see that, depending on the value of `t`, you wil

[2021-10-01 06:09] #496 closed

[2021-10-01 23:19] zacky1972 commented on #496
Thank you @josevalim

I got an interesting execution result. The following code:

[code]

generates the following results:

[code]

[2021-10-02 06:20] josevalim commented on #496
Exactly. `transform` is executed when building the expressions. Think of it more like Elixir macros. Macros are expanded on both branches, because by expansion time we don't know which branch will be used.

[2021-10-03 07:17] josevalim commented on #341
There has been no progress upstream, so I will close this for now. I will reopen in case this feature is added to pytorch.

[2021-10-03 07:17] #341 closed

[2021-10-03 07:18] josevalim opened #499 "Add automatic download of LibTorch targets"

[2021-10-03 07:19] josevalim commented on #490
@dannote if you open up an issue somewhere in Jax, please drop it here so we can follow the discussion. Thank you!

[2021-10-03 16:06] #358 closed

[2021-10-05 00:07] thehaigo opened #503 "exla can't be built on intel mac Big Sur 11.6"
I tried the following steps:

[code]

then, I got the following errors:

[code]

my environment is as follows:

OS : MacOS Big Sur 11.6
CPU: intel Core i7 2.5GHz
elixir: Elixir 1.12.0 (compiled with Erlang/OTP 24)
gcc:

[code]

[2021-10-05 01:23] polvalente opened #504 "Add missing implementations in Torchx.Backend"
There are some missing operations in Torchx.Backend. For some of the following there are suggestions on where to look in the Libtorch API. It is best to look for the function in the [C++ API](https://pytorch.org/cppdocs/api/library_root.html) and then to see how it works in the [Python docs](https://pytorch.org/docs/stable/index.html).

- [x] window_scatter_min
- [x] window_scatter_max
- [x] windo

[2021-10-05 02:30] zacky1972 commented on #503
Hi,

I tested the following environment, and I found the same error occured:

* OS: macOS Big Sur 11.6
* CPU: 18-Core Intel Xeon W
* Elixir: 1.12.3
* Erlang: 24.1
* CC: Apple clang version 13.0.0 (clang-1300.0.29.3)

[2021-10-05 02:31] zacky1972 commented on #490
I have an M1 Mac, so I'd like to contribute this issue!
What should I do, firstly?

[2021-10-05 05:31] josevalim commented on #503
If you have protoc installed on your machine, it may conflict with the protoc precompiled inside XLA. Uninstall, unlink, or remove protoc from your path to continue.

[2021-10-05 06:13] josevalim opened #506 "Add default_compiler functions in Nx.Defn and relevant application config"
The only question is if and how it should interact with `Nx.Defn.default_compiler`. Should we remove the module configuration? Should we keep them distinct?

[2021-10-05 07:14] zacky1972 commented on #503
I'll check it, lator. Thank you.

[2021-10-05 14:23] polvalente commented on #506
Perhaps we could have `use Nx.Defn, kw_args`, which would enable us to have global defaults which could be overriden in certain places if needed.

[2021-10-05 16:30] seanmor5 commented on #504
@polvalente Just dropping in to point out that `Nx.conv` parity will be a bit more in depth than just `torch::convolution` since LibTorch provides a separate implementation for each type of conv (1d, 2d, 3d).

[2021-10-05 18:31] zacky1972 commented on #503
I found it can be compiled after `brew unlink protobuf`. Thank you.

[2021-10-05 18:34] josevalim commented on #503
Excellent!

[2021-10-05 18:34] #503 closed

[2021-10-05 21:55] josevalim commented on #506
I am thinking we should just remove @defn_compiler and focus on Nx.Defn.default_compiler instead (and the relevant Nx.Defn.jit options). /cc @seanmor5

[2021-10-05 21:57] seanmor5 commented on #506
I agree, in Axon I have found myself using `Nx.Defn.jit` more often then the module attributes. And in Livebook the `Nx.Defn.default_compiler` makes more sense as well

[2021-10-06 00:34] thehaigo commented on #503
I ran `brew unlink protobuf` to solve the problem. thank you very much

[2021-10-09 15:19] philipbrown opened #511 "use of undeclared identifier 'TF_TString_ReserveAmortized'; did you mean 'TF_TString_Reserve'?"
Hey!

I'm trying to run [arpieb/deep_learning_elixir](https://github.com), but I'm running into the following error:

[code]

[2021-10-09 15:58] philipbrown commented on #511
macOS Big Sur 11.4

[2021-10-09 16:33] josevalim commented on #511
@philipbrown and to make sure we are on the same page, you are running on Apple x86, right? Not Apple M1? @wojtekmach just tried on both though and it worked on both. :(

[2021-10-09 20:37] philipbrown commented on #511
@josevalim Yeah, it's x86. Do you mean it worked as the precompiled XLA for Wojtek?

I'll try the `XLA_BUILD=true` change now and I'll let you know what happens, thank you!

[2021-10-09 23:14] philipbrown commented on #511
Ok, so I've narrowed it down slightly.

If I use https://github.com/elixir-nx/xla/commit/98a23d966d3dc9b97c1076afca807470e5762b32 it works correctly, but if I use https://github.com/elixir-nx/xla/commit/5af3941a22bdba6b3105eda5eec06c6c6403bc2e I get the error above.

[2021-10-10 07:35] josevalim commented on #511
@philipbrown thanks! This is a bit weird because there is nothing in the later commit changing how compilation works. Did you install XLA before? Can you try running `:filename.basedir(:user_cache, "xla")` in your machine, removing that directory, and then try it again without the XLA_BUILD flag and let us know if it works?

[2021-10-10 10:59] jonatanklosko commented on #511
This commit doesn't change anything in the build process, so it shouldn't make a difference when running `XLA_BUILD=true`. *However* it bumps the version in `mix.exs` from `0.1.1` to `0.2.0`, which determines which precompiled archive is downloaded, and the primary difference between these versions was that we bumped Tensorflow from 2.5 to 2.6, which sounds more relevant.

[2021-10-12 16:09] josevalim opened #516 "Rename reduce_window to window_reduce"
To align with `window_min`, `window_max`, etc. We should also discuss if we should rename `scatter_window_min` to `window_scatter_min` and similar.

[2021-10-14 16:31] polvalente opened #517 "Add Nx.diag implementation"
This function should mimic [numpy diag](https://numpy.org/doc/stable/reference/generated/numpy.diag.html), returning the diagonal from a 2D tensor, or building a 2D diagonal tensor from a 1D tensor

[2021-10-14 16:53] polvalente commented on #517
I would add this as Nx.diag to make it pair up with Nx.eye (instead of diagonal and identity).

They fall in similar use cases of "let's build a tensor" so I think it's fine to add it to Nx instead of Nx.LinAlg

[2021-10-16 07:31] kenken-neko commented on #157
I wasn't sure if I should create a new issue or write it here, but I found some inappropriate code, including my suggestion, so I'll write a comment.

The test of the four functions in `linalg_test.exs` is improperly handled due to the incorrect usage of the `all_close?` function.

- LU: https://github.com/elixir-nx/nx/blob/main/nx/test/nx/lin_alg_test.exs#L317
- cholesky: https://github.com/elixi

[2021-10-16 08:42] kenken-neko opened #519 "Fix usage of all_close? in linalg_test"
### Problems
The test of the four functions in `linalg_test.exs` is improperly handled due to the incorrect usage of the `all_close?` function.

- `LU`: https://github.com/elixir-nx/nx/blob/main/nx/test/nx/lin_alg_test.exs#L317
- `cholesky`: https://github.com/elixir-nx/nx/blob/main/nx/test/nx/lin_alg_test.exs#L338
- `QR` : https://github.com/elixir-nx/nx/blob/main/nx/test/nx/lin_alg_test.exs#L118

[2021-10-16 08:44] kenken-neko commented on #519
I suggest the following steps to fix this issue.
1. Adjust the test code for `LU`, `cholesky`, `QR`. Only the test for `SVD` should be commented out after the fix for `all_close?`.
2. Change the logic [Jacobi method](https://github.com/elixir-nx/nx/blob/main/nx/lib/nx/binary_backend/matrix.ex#L447) to the QR iteration method as [`eigh`](https://github.com/elixir-nx/nx/blob/main/nx/lib/nx/binary_ba

[2021-10-17 09:43] kenken-neko commented on #519
The following is a supplement.
In modern numerical computing, the QR method and the Jacobi method have the following views.

- The QR method is faster than the Jacobi method. There is a noticeable difference in large scale calculations where the dimension of the matrix becomes larger.
- Jacobi method is more accurate than QR method.

There are only a few references that frankly state this, for exa

[2021-10-18 09:17] josevalim opened #521 "Add tracing node to Nx.Defn.Expr"
The idea of tracing nodes is that we will be able to look at a Nx.Defn.Expr and figure out where those particular nodes came from.

[2021-10-18 17:27] josevalim commented on #517
@Benjamin-Philip yes, please go ahead exploring those ideas. We can discuss the API as we move forward. :)

[2021-10-20 02:27] polvalente commented on #157
@turion sorry this took too long to respond. I think that determinants could be an useful tool for `Nx.LinAlg`, although I can't think of any applications outside of calculation eigenvalues or solving equation systems. Do you have any others in mind?

[2021-10-20 03:07] kenken-neko commented on #519
@polvalente
Thank you for response!

There may be three mistakes in the use of [`all_close?`](https://github.com/elixir-nx/nx/blob/main/nx/lib/nx.ex#L4792-L4798).
- The code does not specify two matrices to be compared as required arguments.
- The optional arguments such as `atol` are not specified correctly.
- The return value is not referenced as a boolean. As you say.

Please fix this when you

[2021-10-20 12:37] polvalente commented on #157
[code]

Since the determinant of a product is the product of the determinants, we can _almost_ use LU to calculate it. This also uses the fact that the determinat of a triangular matrix is the product of the diagonal elements.
Note that the sign is wrong due to the permutation matrix. Perhaps there's an easier way to determine which sign the matrix has using another process (perhaps a dot product

[2021-10-21 03:35] polvalente commented on #519
#524 refactors `all_close?` into `all_close` and shows some problems with SVD and QR. I'll open separate issues for use to discuss each implementation and reference this one there

[2021-10-21 03:38] polvalente opened #525 "Nx.LinAlg.qr doesn't work for non-square matrices in binary backend"
#519 showed that some tests were wrong, which in turn showed that for tall matrices (4x3 for instance) the extra rows on Q were being calculated as 0.

Wide matrices weren't expected to work, but perhaps we can track this here

[2021-10-21 03:40] polvalente opened #526 "Nx.LinAlg.svd doesn't work in some tests for the BinaryBackend"
#519 showed that for the "property" tests, SVD doesn't work in the BinaryBackend. It seems that the problem lies in the right eigenvector matrix (Vt where `A = U.Sigma.Vt`)

[2021-10-21 03:43] polvalente commented on #499
This was implemented in #495

[2021-10-21 03:45] polvalente commented on #491
This was solved in #492

[2021-10-21 03:45] #491 closed

[2021-10-21 04:06] polvalente commented on #314
I'm trying to setup Elixir on windows to validate this issue

[2021-10-21 05:53] josevalim commented on #314
Yes, usually a Makefile.win is necessary. We have one for EXLA too. :)

[2021-10-21 15:34] seanmor5 commented on #221
Following from the linked PyTorch paper, the way to approach this would be to define a `nonzero` function which creates a tensor of indices that are nonzero. And then use the indices tensor in conjunction with `Nx.take` to grab the values from the input tensor. `nonzero` would use the get/set dynamic dimension size capabilities of XLA to generate the bounded arrays.

[2021-10-22 07:55] Benjamin-Philip opened #528 "Proposal: Nx.flatten"
As of right now, there is no function to flatten a N-dimensional tensor to a 1 dimensional tensor.

I propose that we should write one.

[2021-10-22 19:50] #528 closed, assigned to nobody

[2021-10-24 20:14] tynanbe opened #531 "Nx.scatter_add index is off by one in some cases"
Example:
[code]
Nx built on Oct. 10.
Note: index `[0,0]` works properly in my testing.

[2021-10-26 06:25] Benjamin-Philip opened #532 "Proposal: Nx.strides"
I propose we write a function to calculate the (elemental) strides need to move along each axis in a tensor.
This might be useful for users who need use the Nx.window_* function.

Note: I am proposing this I as I need to compute the strides of a tensor for the Nx.diagonal implementation.

[2021-10-26 08:25] #532 closed, assigned to nobody

[2021-10-26 11:51] #531 closed, assigned to polvalente

[2021-10-29 19:59] #525 closed

[2021-10-30 13:43] Benjamin-Philip opened #538 "Proposal: Nx.length"
I propose we write a function to calculate the length (the number of elements) of a tensor.

[2021-10-30 13:45] polvalente commented on #538
Nx.size does that: https://github.com/elixir-nx/nx/blob/bda8827d54c533f960616f812eae6b2561df1901/nx/lib/nx.ex#L2470

Thanks for the proposal, though!

[2021-10-30 14:24] Benjamin-Philip commented on #538
@polvalente  I think you misunderstood... (or I did a poor job of explaining)

See for example:

[code]

Here the length of the tensor is 3 because the number of elements in the first dimension is 3.

If I do Nx.size:

[code]

I get 9 which is the total number of values in the tensor including all
the nested tensors.

Granted, what I am suggesting is purely a convenience function for

[code]

but

[2021-10-30 14:30] seanmor5 commented on #538
Rather than length maybe this could be `axis_size` or something similar. NumPy also has `alen` which returns the first axis length

[2021-10-30 14:30] polvalente commented on #538
@Benjamin-Philip thanks for the added example. I'm not sure if we should add this (or even if there already is a function for this, I'd have to look through).

I've reopened the issue for further discussion

[2021-10-30 14:31] Benjamin-Philip commented on #538
That sounds like a good idea. Might be less ambiguous.

[2021-10-30 14:41] josevalim commented on #538
Yeah, I am 👎 . elem/2 and pattern matching are existing ways of getting this information.

increasing the api has a cost in terms of traversability and added vocabulary and the cost here does not seem to be worth it. :)

[2021-10-30 14:41] polvalente commented on #538
Perhaps there could be an argument for the desired axis. By default it would be the first one, but perhaps there are use cases for getting an inner axis' size

[2021-10-31 03:14] Benjamin-Philip commented on #538
Yeah, I see what you mean.

It's hard to keep the api concise but convenient at the same time.

So, should we close this or are we going add this as an option to Nx.size?

[2021-10-31 06:10] josevalim commented on #538
Let’s go ahead and close this unless there is a clear use case this is necessary. :)

[2021-10-31 06:10] #538 closed

[2021-11-01 13:07] polvalente opened #539 "Nx.LinAlg.triangular_solve returns incorrect results"
As per the title, the results returned by the binary backend are incorrect

[2021-11-01 13:07] polvalente commented on #539
I'm investigating this now

[2021-11-01 13:24] polvalente commented on #539
Update: it seems that binary backend is actually fine, but I'll keep this open until I can confirm this.

[2021-11-04 17:13] #517 closed

[2021-11-04 18:14] josevalim opened #542 "Generalize and split Nx.diag in two"
The current `Nx.diag/2` is a great starting point but, if we want to support vectorization, such as vmap, we need to allow extra a diagonal from any `rank >= 1`  tensor and build diagonal matrices from any `rank > 1` tensor.

We may not need to generalize immediately but we should probably split sooner than later. The big question is what we should call these operations. Given we are increasing an

[2021-11-04 19:00] polvalente commented on #542
@josevalim I think that `gather` and `scatter` are good prefixes, although I might be biased because I already have the mental image of what a `gather` and what a `scatter` is.

As we had discussed, `to_diagonal` and `from_diagonal` could be confusing.
WDYT about `build_diagonal` and `extract_diagonal` for `scatter` and `gather` respectively? build/extract seem more layman's terms than scatter/gat

[2021-11-04 19:28] josevalim commented on #542
Here are other suggestions:

  * `as_diagonal` - Returns a vector as a diagonal matrix
  * `take_diagonal` - Takes the diagonal of a matrix

I think those should not be ambiguous. Thoughts?

[2021-11-04 23:07] seanmor5 opened #543 "Change Conv permutation configuration options"
The current implementation is not really straightforward to use and is difficult to get right when configuring things like channels first vs. channels last convolution operations as with CNNs. Currently, we allow "permutations" on input and kernl and a final output permutation. It takes a lot of mental gymnastics to figure out how these permutations exactly map to how the convolution should be per

[2021-11-04 23:09] seanmor5 commented on #542
Just a quick question: if we we're to implement batching on only primitives like with gradients, how would the diag implementation look (assuming we changed some of the shape logic to support batched dims)?

I think I am still +1 on generalizing/splitting the diagonal operation and differentiating between taking a diagonal from an input or creating a diagonal matrix/tensor. +1 for `as_diagonal` an

[2021-11-05 00:31] polvalente commented on #542
@seanmor5 I'm not sure if I quite follow the first part of the question

From what I was thinking, `take_diagonal` would receive a tensor (for simplicity, square in the inner dims) in the shape {..., N, N} and yield a tensor {..., N}. The grad would be akin to the grad for `gather`, in which the grads corresponding to each element would be positioned in the corresponding indices.

And for `as_diag

[2021-11-05 01:00] seanmor5 commented on #542
Sorry, what I meant to say was I am failing to see how diag wouldn't work (with some minor shape check changes) with batching rules. We would implement batch rules for multiply, take, etc. and then not have to worry about the batch rule for this.

I am still in favor of the proposed split functionality

[2021-11-05 03:59] polvalente commented on #542
Oh, right! Yeah, I think we're on the same page regarding this then!

[2021-11-05 07:43] josevalim commented on #543
@seanmor5 my concern is that this configuration is then pretty image specific. Is conv only used for images? I can think of two options:

Have a `Nx.Image` module with image processing functionality where we can have a `Nx.Image.conv_options(...)` that would receive the configuration above and convert it to our current options, or we add the API above exclusively to Axon.

At the moment it is hard

[2021-11-05 13:07] Benjamin-Philip commented on #542
How about `extract_diagonal` and `construct_diagonal`?

[2021-11-05 19:14] josevalim commented on #542
What about `make_diagonal` and `take_diagonal`? To read as "make a diagonal matrix from a vector" and "take a vector from a diagonal matrix".

[2021-11-05 19:30] polvalente commented on #542
@Benjamin-Philip we though about those, but we wanted to use some prefixes which were already used somewhere in the API if possible.

@josevalim `make_diagonal` seems better than `take_diagonal`. I don't think that there'll be any confusion with "diagonalize matrix", especially since we're not in the Nx.LinAlg namespace

[2021-11-05 20:03] josevalim commented on #542
I meant make_diagonal and take_diagonal, as opposites. The fact you took them as the same make me think it is not a good name then :D

[2021-11-05 20:13] polvalente commented on #542
@josevalim I mistyped! I mean better than `as_diagonal`! There wasn't any confusion in my part other than  mistyping haha

[2021-11-06 02:45] Benjamin-Philip commented on #542
`make_diagonal` seems good to me.

[2021-11-06 06:51] josevalim commented on #542
@Benjamin-Philip would you like to send a PR to split them apart them? Then we would also love to accept a PR to generalize them. :)

[2021-11-06 07:22] Benjamin-Philip commented on #542
Cool. Working on it..

[2021-11-06 08:05] Benjamin-Philip commented on #542
@josevalim, @polvalente, @seanmor5 , Are there any plans of supporting an offset for make_diagonal?

[2021-11-06 16:43] josevalim commented on #542
@Benjamin-Philip we can support it too, it is your call. :)

[2021-11-06 16:55] Benjamin-Philip commented on #542
Ok, I plan to support it.

[2021-11-09 20:05] #542 closed

[2021-11-10 02:44] Benjamin-Philip commented on #542
@josevalim, don't we also have to generalize the 2 functions? My PR only split diag into 2.

[2021-11-10 06:37] josevalim commented on #542
We can generalize it in the future whenever needed!--

*José Valimhttps://dashbit.co/ <https://dashbit.co/>*

[2021-11-10 14:34] madasebrof opened #546 "Nx.pad RuntimeError with EXLA"
Sample code:

[code]

Output:

[code]

Output with pad removed:
[code]

I'm on Ubuntu 20.04.

Thanks!!!

[2021-11-10 15:31] seanmor5 commented on #546
Can you stop at wrap the pad value in a tensor with type s8 and see if it passes?

[2021-11-10 19:12] madasebrof commented on #546
Brilliant!

Thanks! Would never have stumbled across this. I feel like I should update the docs somewhere...

[code]

[2021-11-10 19:17] seanmor5 commented on #546
Yeah I think this is still an issue though as EXLA should be smart enough to merge both pad value and input value to the correct type. If you want to take a stab at it you can check out the pad implementation in lib/exla/defn, otherwise someone else will get to it :)

[2021-11-11 13:43] #546 closed

[2021-11-14 21:21] #446 closed

[2021-11-16 07:31] #200 closed

[2021-11-19 08:28] josevalim commented on #206
I will be closing this for now. The BinaryBackend is not intended to focus on performance and, if we were to rewrite it, I would also like to rewrite only once we have a blas-level like bindings, so we can also get performance at the lower level.

[2021-11-19 08:28] #206 closed

[2021-11-19 08:30] josevalim commented on #354
We currently have from_numpy and from_numpy_archive, which are Numpy specific. I will open up a new discussion about file storage for Nx.

[2021-11-19 08:30] #354 closed

[2021-11-19 08:31] josevalim commented on #490
This apparently has been addressed.

[2021-11-19 08:31] #490 closed

[2021-11-19 08:33] josevalim opened #550 "Add option to persist tensors to disk"
Currently we can use :erlang.term_to_binary/binary_to_term to do bulk of the work. The only issue is endianness. So we would also need to store the endianness and if the endianness differ, we traverse the tensors remapping them.

[2021-11-19 11:21] seanmor5 commented on #550
As a very simple option we can do something like:

[code]

I think it would also be nice to have conveniences for serializing multiple tensors, containers (especially for model parameters in Axon), maybe adding the ability to compress files (with gzip or something else), and making it easy to stream a file which contains multiple tensors.

Any thoughts?

[2021-11-19 11:24] josevalim commented on #550
Exactly. term_to_binary already compresses and the new Nx.Container makes it easy to serialize containers. So it is mostly a matter of implementing this. The only downside of using `term_to_binary` is that it is Erlang VM specific but I guess if someone needs other types of serialization, they can pick something else. :)

[2021-11-19 11:25] polvalente commented on #550
I think we should add a header line which contains at least the version for the storage format. For now we can only think of storing the endianess, but perhaps in the future something else might come up.

Either that, or we can store a map instead of a tuple, and then we can always have `version` and `data` keys, i. Which version is either a string or an integer, and data is the term_to_binary-enc

[2021-11-19 11:29] josevalim commented on #550
`{1, endianess, data_structure}` is my vote.

[2021-11-19 11:33] seanmor5 commented on #543
This ended up not being an issue for me in implementing conv configurations in Axon. I will close for now.

[2021-11-19 11:33] #543 closed

[2021-11-19 11:33] polvalente commented on #550
@josevalim How would we decode it if we need any more metadata in the future?

Would we pattern match on longer tuples + hard matching the version?

[2021-11-19 11:34] josevalim commented on #550
I usually do `elem(tuple, 0)` but keeping a map would be clearer, yeah.

[2021-11-19 11:36] polvalente commented on #550
`elem` sounds fine to me. We just need to document the storage format somewhere. So storing a tuple sounds ok :)

[2021-11-19 13:31] polvalente commented on #539
Closing this because the problem seems to actually be on the way Torchx extracts data from tensors for inspection. Fix is contained in #545

[2021-11-19 13:32] #539 closed

[2021-11-19 14:58] shoz-f commented on #354
Thanks Jose.

I think .npy format is useful to exchange a tensor with a Python application.
I have already my own .npy module which can load/save %Nx.Tensor in .npy format file, and I use it to debug my Elixir extension - Port - of Tensorflow lite interpreter. In such situation, load/save .npy module help us to compare the result tensor in Elixir and in Python, or to put the tensor from Python int

[2021-11-22 09:52] #516 closed

[2021-11-23 07:15] #506 closed

[2021-11-23 07:38] josevalim commented on #301
Closing this for now. With Nx.Container, we already allow dataframes to be given as arguments to `defn`. :D

[2021-11-23 07:38] #301 closed

[2021-11-23 09:11] josevalim opened #556 "Add defn hooks"
This is a proposal for adding hooks to defn. Hooks allow custom
functions to run with values from the device.

In order to explain this functionality, please read the docs for the
upcoming `hook/3` function below:

---

    def hook(tensor_expression, name, function)

Defines a hook.

Hooks are a mechanism to execute an anonymous function for
side-effects with runtime tensor values.

Let's see an

[2021-11-23 09:11] josevalim commented on #245
Closing in favor of #556.

[2021-11-23 09:11] #245 closed

[2021-11-23 11:35] seanmor5 commented on #556
I like this proposal, and I can't see any limitations just yet with respect to how PyTorch does hooks and how Jax does host callbacks. To be clear, the signature of a hook is `(tensor_or_container) :: (tensor_or_container)` correct? So hooks can edit an intermediate runtime value?

[2021-11-23 11:57] josevalim commented on #556
Yes, it can be a container!

[2021-11-23 12:25] josevalim commented on #556
@seanmor5 does PyTorch and JAX handle the case where no-one hooks into the hook and therefore they avoid sending the data in the first place? Because I think that's a pretty neat optimization :)

[2021-11-23 12:42] polvalente commented on #556
I also like this proposal. One thing that's not entirely clear to me is how hooks would work across devices (i.e. working with something that's on the GPU).

Since I'm more familiar with Torchx as of lately, I'm gonna use it as an example, even though we don't compile it.

In Torchx we have `{device, ref}` tuples as the data for the Tensor. So the hook would receive the tensor with the respective

[2021-11-23 13:12] josevalim commented on #556
yes! For torchx we will just immediately receive the tensor as we evaluate it.

[2021-11-25 09:56] josevalim commented on #556
Closing in favor of PR.

[2021-11-25 09:56] #556 closed

[2021-11-27 01:44] polvalente opened #561 "Higher level applications of Nx as examples"
This issue aims to concentrate the discussion o whether we should add livebooks with some higher level examples (for instance, [K-means](https://gist.github.com/polvalente/32c642c6a47fc75d65a381ea7a09f19b) -- disclaimer: the implementation does not yield the expected results, although it mostly works) to the Nx repo, or if we should start thinking about a higher level library for these application

[2021-11-28 19:52] dognotdog opened #565 "enabling to_scalar for 1-element tensors?"
Right now, `Nx.to_scalar/1` only works for zero-dimensional tensors. As it is a convenience function, would there be any downsides to allowing it to work on any 1-element tensor of arbitrary dimensions?

At least in my use case, it'd save some additional boilerplate where I know I'm left with a single element, and want to use it in regular elixir, but the tensor might have non-zero dimensions depe

[2021-11-28 19:56] polvalente commented on #565
In my opinion, the main point of discussion is whether needing to explicitly "cast" the tensor to a {}-shaped tensor is a downside or a feature.

One could argue that being explict about reshaping removes cognitive overload from the resulting code.

Another question: perhaps we could have an option for to_scalar to accept 1-element tensors regardless of dimension.

@seanmor5 @josevalim WDYT?

[2021-11-28 20:02] seanmor5 commented on #565
I am not in favor of having to_scalar work for 1-D or more tensors. In my opinion, you'd arrive at a scalar after a reduction or squeeze operation. In which case it's pretty clear that the resulting tensor has a scalar shape and the call to to_scalar should succeed. Any other case would rely on some assumptions about input shape or potentially buggy shape calculations.

[2021-11-28 20:04] josevalim commented on #565
Agreed with Sean. Reshape or squeeze it and you should be good!

[2021-11-28 20:04] #565 closed

[2021-11-29 19:04] #521 closed

[2021-11-29 19:06] josevalim commented on #170
We have some basic constant propagation in place. For more performance, nothing is going to beat using one of the backends, which have been made much easier to use lately.

[2021-11-29 19:06] #170 closed

[2021-12-02 14:39] Benjamin-Philip commented on #161
I believe that gradients for some of these functions have been implemented. Could you update the list @seanmor5 ?

[2021-12-02 14:52] josevalim commented on #161
@Benjamin-Philip i recently updated the list and it should be good. If anything is missing, please let me know :)

[2021-12-02 15:52] Benjamin-Philip commented on #161
@josevalim, you're right! I remember seeing some completed gradients a few days ago. I did not realise that it was updated. My bad 🙂.

[2021-12-03 17:41] josevalim opened #572 "Add comprehension syntax to while and for loops"
Today I wrote this code:

[code]

We could allow `<-` as part of `while`, so I could rewrite it to this:

[code]

A further step is to introduce a `for` construct, that then works as a `map_reduce`. It will traverse a tensor and allow us to modify the leading dimension of the tensor at the same time, while retaining an accumulator.

Both functionality can be implemented using macros in `defn`, wit

[2021-12-03 19:47] polvalente commented on #572
So in this construct subtensor would always be an iteration over the first dimension of the tensor?

[2021-12-03 19:56] josevalim commented on #572
Correct! That’s how scan behaves in JAX.

[2021-12-04 14:06] seanmor5 opened #573 "Iota silently fails when shape is not an actual shape"
I was messing around with AoC day 3 and couldn't quite figure out why my solution was failing. Then I realized I forgot to wrap a value in `Nx.iota` in a tuple, so something like:

[code]

Always just returns `Nx.tensor(0)`. I think it's better to raise in these cases with an error so bugs like this are caught faster

[2021-12-04 14:22] josevalim commented on #573
@seanmor5 we allow any tensor as shape and a number is a tensor. Of course we could say that an integer could not be a shape but that's the current rationale. WDYT?

[2021-12-04 14:57] seanmor5 commented on #573
Ah that's right! I think in cases where it is an integer explicitly (not a tensor constructed like Nx.tensor(1)), it should raise

[2021-12-04 15:18] josevalim commented on #573
@seanmor5 the point of allowing both though is so we can do this:

    Nx.broadcast(tensor, some_other_tensor)

where `some_other_tensor` can be any tensor. If we accept only tensors but not numbers, it can be inconsistent. There are two categories of functions: creation (eye, iota, random_number, etc) and transformation (broadcast, reshape). We have some options:

1. Do not accept tensors nor num

[2021-12-04 15:52] seanmor5 commented on #573
I think staying with 5 is fine then. It is already documented and I like being able to create from an existing tensor :D

[2021-12-04 15:52] #573 closed

[2021-12-04 18:40] josevalim opened #575 "Add Nx.axis_size(tensor, name_or_axis)"
It accepts either an atom as the name or a non negative integer as the axis. It raises if the axis/name does not exist.

[2021-12-05 19:41] #575 closed

[2021-12-05 21:33] seanmor5 opened #577 "Options break under `Nx.Defn.jit` with new container protocol"
Example:

[code]

Works fine with simple function application:

[code]

But raises under JIT:

[code]

[2021-12-05 21:38] seanmor5 commented on #577
FWIW I'm not 100% if this worked before Nx.Container either, but this can be manually resolved by moving some things around:

[code]

[2021-12-05 21:39] josevalim commented on #577
It never worked before, you always passed them internally.

[2021-12-05 21:40] josevalim commented on #577
We could make it to make it work, by checking if it is the last argument and it is a list, but there also could be false positives.

[2021-12-05 21:41] seanmor5 commented on #577
That's fine then, I never noticed. I don't mind passing them internally

[2021-12-05 21:41] #577 closed

[2021-12-06 16:07] polvalente commented on #161
I'm starting work on triangular solve gradient

[2021-12-06 17:34] floatn opened #579 ""Scalar" term confusion"
I've just been confused by finding out that Nx.to_scalar is used to convert a zero-dimension tensor to scalar. Since, technically, 0-dim tensor is already considered a scalar. I suggest we fix the terms by, for example, calling tensor a 'tensor', 0-dim tensor a 'scalar', and non-tensor scalar a 'number'. Since it sticks to `Kernel.is_number`. WDYT?

[2021-12-06 17:36] josevalim commented on #579
I like it. Please do send a PR to rename `Nx.to_scalar` to `Nx.to_number`. :)

[2021-12-06 17:40] floatn commented on #579
Ok.

[2021-12-06 21:14] rhbvkleef opened #581 "Arbitrary size integers"
It would be quite useful for me to be able to use huge numbers in my matrices. 64 or 128-bit integers would definitely not be enough. It would be great to have near to the same astronomical limit as that the BEAM provides.

[2021-12-06 21:31] josevalim commented on #581
@rhbvkleef tall of the native backends that Nx targets are at most 64-bit integers, so this is not something I believe we can/should provide. If your goal is to leverage bignums then you should probably stay within the BEAM itself and outside of Nx. :)

[2021-12-06 21:31] #581 closed

[2021-12-07 14:32] #579 closed

[2021-12-07 20:22] rhbvkleef opened #582 "Implement `Nx.LinAlg.matrix_power`"
As a consequence of [Advent of Code 2021, day 6](https://adventofcode.com/2021/day/7), we discovered that Nx doesn't have a matrix_power function:

`@spec matrix_power(Nx.t, positive_integer) :: Nx.t`

This function would result in the power of the matrix by dot-product instead of by multiplication. We can solve this problem in linear time, using (source: https://github.com/josevalim/aoc/blob/main

[2021-12-07 22:59] polvalente commented on #582
Wouldn't `matrix_power(matrix, 0), do: eye(matrix)` be the correct implementation instead of `subtract(matrix, matrix)`?

Besides that, I think a PR is welcome, as this kind of operation is common in numerical calculus.

One question that this would raise is that we need to choose between `power` and `matrix_power` for the implementation of the `**` operator in `defn`.

I also would implement it l

[2021-12-07 23:02] seanmor5 commented on #582
Agree with performance benefits of having specialized implementations, but IOT reduce API surface of future backend/compilers I think perhaps we go with the pure Nx implementation and then add specialized when we have optional backend functions? There is a very simple implementation in the JAX library as well

[2021-12-07 23:03] polvalente commented on #582
Yeah, I always forget to take API surface into account :sweat_smile:
This implementation seems fine aside from the `n = 0` case.

Would you like to submit a PR @rhbvkleef?

[2021-12-08 05:05] rhbvkleef commented on #582
Yes, that would be more correct. I agree.

As far as submitting a PR, I could, but it might take a while.

[2021-12-08 07:31] rhbvkleef commented on #582
I don't think performance will be a problem with implementing it like this at all. After all, we're not likely to see high powers. I suspect that we'd run out of useful number range somewhere around 2^16, meaning this would only all Nx.dot at most 32 times for such an exponentiation. The actual calculation of the dot-products would take the large majority of the time in such cases.

[2021-12-09 01:04] floatn opened #587 "Nx.window_reduce Compilation error case"
This
[code]
gives me:

== Compilation error in file lib/nx_test.ex ==
** (MatchError) no match of right hand side value: 1
    (nx 0.1.0-dev) lib/nx/binary_backend.ex:623: Nx.BinaryBackend.element_wise_bin_op/4
    (nx 0.1.0-dev) lib/nx/defn/evaluator.ex:147: Nx.Defn.Evaluator.eval_apply/4
    (nx 0.1.0-dev) lib/nx/defn/evaluator.ex:63: Nx.Defn.Evaluator.eval/3
    (nx 0.1.0-dev) lib/nx/defn/evalu

[2021-12-09 13:44] rhbvkleef opened #588 "Cholesky property test is non-deterministic"
I found that the cholesky property test is non-deterministic, and specifically, fails with seed `855043`, see output below.

[code]

## Environment information

[code]

[code]

[2021-12-09 14:13] seanmor5 commented on #588
This seems to be just a precision error, we can raise the tolerance a bit so it's not as restrictive

[2021-12-09 14:14] josevalim commented on #588
PR sent #589

[2021-12-09 17:36] #582 closed

[2021-12-09 17:39] #588 closed

[2021-12-10 11:26] seanmor5 commented on #587
This seems to go wrong in here: https://github.com/elixir-nx/nx/blob/main/nx/lib/nx/defn/evaluator.ex#L81 where the input arguments don't get cast to tensors correctly and the binary backend implementation of add doesn't like that

[2021-12-10 11:27] seanmor5 commented on #587
Note this doesn't fail outside of `defn`

[2021-12-22 13:43] av-ast opened #593 "Can't build TorchX for Mac M1"
I'm trying to build NX in docker container on my Macbook Air M1 and get an error.
[code]

Here is my Dockerfile

[code]

Here is the full output
[code]

[2021-12-22 13:45] av-ast commented on #593
As I understand, the reason is libtorch library which is built for x86, right? https://github.com/elixir-nx/nx/blob/main/torchx/mix.exs#L102

[2021-12-22 13:45] polvalente commented on #593
@av-ast Have you tried downloading libtorch manually and setting LIBTORCH_DIR with the correct version for M1?
I suspect that the problem is that the autodownload if for non-M1 architecture

[2021-12-22 13:47] polvalente commented on #593
Yes, this is probably the root cause. As I said in the other comment, you can download/build your own libtorch build and then you point to it through LIBTORCH_DIR, which will skip the autodownload

[2021-12-22 13:52] av-ast commented on #593
@polvalente From the README I followed this page https://pytorch.org/get-started/locally/ but I see no option to get the proper download link. Could you please point me?

[2021-12-22 13:55] av-ast commented on #593
Looks like the only option is to build libtorch from the source code?

[2021-12-22 13:55] polvalente commented on #593
@av-ast From this StackOverflow answer (https://stackoverflow.com/questions/65593177/how-to-build-libtorch-on-mac-arm), it seems that you indeed need to build from source

[2021-12-22 13:56] polvalente commented on #593
Please try this out and let us know if it works! If it does, we can update the README accordingly!

[2021-12-24 12:58] #493 closed

[2021-12-28 10:27] av-ast commented on #593
@polvalente that StackOverflow solution does work.

I've wrapped it into a Docker image here https://github.com/av-ast/nx-docker

[2021-12-28 12:13] josevalim commented on #593
Thank you for reporting back! I will add a reference to the README to this issue and close it.

[2021-12-28 12:13] #593 closed

[2022-01-03 09:06] #587 closed

[2022-01-03 16:57] tynanbe opened #600 "Nx.tensor error when data is float and type is integer"
Since `Nx.as_type` can downcast without issue, it seems that under similar conditions, tensor creation should not fail.
[code]

[2022-01-03 17:01] josevalim commented on #600
Hi @tynanbe,

Can you provide a use case?

I consider this is intentional. `as_type` explicitly warns about losing precision and I would prefer if Nx.tensor safe guarded developers from that. You can call Nx.tensor with no type and then convert after.

[2022-01-03 17:38] tynanbe commented on #600
My main thought is when there are tight memory constraints and unknown data coming in.

If someone requests a specific type on tensor creation, they probably have a reason for wanting to change precision right up front.

As a dev, it's surprising to have a type parameter where only some types can be successfully passed. If that's intentional behavior, I think it would ease mental burden and be les

[2022-01-03 18:26] polvalente commented on #600
@josevalim I agree that it would be preferrable to have this conversion be explicit, and this also keeps with the same mindset as we discussed in #565. However, @tynanbe does have a point regarding memory constraints.

When creating a tensor for EXLA or Torchx, do we first parse it "as is" and then cast the type, or is the parsing done with the type in mind? If the parsing is done "blindly", then

[2022-01-03 18:35] #526 closed

[2022-01-03 19:06] josevalim commented on #600
Nx.tensor is about creating data from Elixir land. So you can truncate the floats too before calling Nx.tensor too.

the surprise argument works both ways. I would be very surprised if a library is discarding precision out of nowhere. And I think losing precision should be done by explicit APIs.

Plus this particular call would convert from f32 to s64, effectively using more space?

[2022-01-03 22:47] tynanbe commented on #600
This is just an example of a call that unexpectedly fails.

I agree that explicit operations are best, but I also see nothing implicit about stating what one expects from a function by passing an optional argument.

I honestly wasn't sure if this issue was a bug or not, but your explanation makes fine sense; seemingly there isn't anything to gain from stating the numerical type up front.

After th

[2022-01-03 22:47] #600 closed

[2022-01-04 13:28] polvalente commented on #600
@tynanbe

This is mainly so you can get types other than the defaults. For instance:

[code]

or regarding integers:

[code]

In summary, I think it's more about type promotion or byte size limitation than about type conversion (which is what would be needed for reading floats as integers, since you can assume that `-1` is a valid notation for `-1.0`, but not the other way around).

[2022-01-06 23:15] polvalente commented on #119
Commenting here so we can keep track of this here as well:

@dkuku found a match error in a Neural Net example which turned out to be related to Infinity. Minimal examples which fail like this on both f32 and f64:

[code]

[code]

[2022-01-16 14:44] bhadra opened #607 "Unable to compile torchx on Windows 10"
On the command line the command "mix deps.compile torchx" generates the following error.

==> torchx
could not compile dependency :torchx, "mix compile" failed. Errors may have been logged above. You can recompile this dependency with "mix deps.compile torchx", update it with "mix deps.update torchx" or clean it with "mix deps.clean torchx"
** (Protocol.UndefinedError) protocol String.Chars not im

[2022-01-16 14:53] josevalim commented on #607
I fixed this issue but it will error saying that Windows is not supported. We would appreciate pull requests to make the toolchain work on Windows. :)

[2022-01-16 14:53] #607 closed

[2022-01-16 14:54] josevalim commented on #607
Here is the original issue: #314

[2022-01-20 17:58] fluffynukeit commented on #550
Hi.  I'm new to the Elixir ecosystem.  I'm interested in Nx not for its machine learning potential, but just its fast numerics akin to Numpy.  I am dealing with experimental data, and such data often takes the form of a time series.  For time series data, there are lots of compression techniques that are demonstrably better than dictionary-based compression.  [Here is a good article detailing some

[2022-01-20 18:25] josevalim commented on #550
Hi @fluffynukeit!

To clarify, they are not saying it is incompatible. They are saying it is not guaranteed to be the same. For example, they may change comprehension algorithms, find a more efficient representation to encode some data structure, etc. As an example, the minor version 0, which is 13+ years old at this point, is still supported!

[2022-01-20 18:28] josevalim commented on #550
I think the question we need to answer is: is `term_to_binary` good enough for a simple persistence? Either way whatever we pick shouldn't exclude us from having other more efficient persistence modes from libraries or elsewhere.

[2022-01-22 20:32] seanmor5 opened #610 "Runtime dynamic shapes for more flexible Nx implementations"
While implementing Axon ONNX I've hit snags a few times when implementing operators which depend on runtime values for shape-based operations. Some examples of ONNX operators which depend on runtime values whereas we depend on static values:

- [Expand](https://github.com/onnx/onnx/blob/main/docs/Operators.md#Expand) - Essentially our broadcast but with a runtime-dependent shape
- [NonZero](https:

[2022-01-22 20:37] seanmor5 commented on #610
I should add a note on `Expr` handling - I think that we can just get away with treating our shape rules as if dynamic operations always return shapes with an upper-bound. We could also mark dimensions as being dynamic explicitly when creating the expression.

[2022-01-24 23:52] tiagodavi commented on #561
Playing a little bit with Nx Library (trying to predict the number of pizzas based on the number of reservations)
https://github.com/tiagodavi/NxLinearRegression

[2022-01-25 00:08] tiagodavi commented on #561
We could have a samples folder with approved examples maybe?

[2022-01-25 19:09] h3xby opened #612 "Incorrect dot result with BinaryBackend"
[code]
[code]

With pytorch(and torchx backend):

[code]

[code]

Looks like BinaryBackend ignores tensor shapes and computes as if they are vectors: `0*0 + 1*1 + 2*2 + 3*3 + 4*4 + 5*5 = 55`

Also because of this [at least one test](https://github.com/elixir-nx/nx/blob/efed8861da20a256e6d328f61cd7c01bf4090620/nx/test/nx_test.exs#L1118) is incorrect

[2022-01-25 20:59] josevalim commented on #612
Good catch! If you want to send a PR< it would be very welcome, otherwise I will take a look at it in the coming days.

[2022-01-26 00:36] floatn commented on #612
Looks like it's the `aggregate_axes` function's fault. It's basically indifferent to input axis order:
https://github.com/elixir-nx/nx/blob/efed8861da20a256e6d328f61cd7c01bf4090620/nx/lib/nx/binary_backend.ex#L2145
[code]
for example, returns the correct value because the axis values are resorted in the same fashion.

[2022-01-26 12:56] tiagodavi opened #614 "Having Issues with Gradient exploding"
Hi Folks. I am wondering if I need to normalize real data before using it with Nx?

I was trying to reproduce this tutorial: https://dockyard.com/blog/2021/04/08/up-and-running-nx with real data, but I am facing issues like below:

[code]

This is my example:

https://github.com/tiagodavi/NxLinearRegression/blob/main/lib/fuel_economy.ex
https://github.com/tiagodavi/NxLinearRegression/blob/main/lib

[2022-01-26 12:58] tiagodavi commented on #119
It's similar the error I am facing here:
https://github.com/elixir-nx/nx/issues/614

[2022-01-26 17:35] floatn commented on #614
What is your input data?
[code]
works fine.

[2022-01-26 20:26] floatn commented on #614
Yes, it'll help.

[2022-01-26 20:57] tiagodavi commented on #614
@floatn Thank you.

I was able to fix after normalizing the data!
https://github.com/tiagodavi/NxLinearRegression

[2022-01-26 21:36] stefkohub commented on #504
If I start adding the convolutional layer, which are the functions I will need to integrate? I cannot find torch::convolution but torch::conv1d, 2d and 3d here:
[https://pytorch.org/cppdocs/api/unabridged_api.html?highlight=torch%20convolution](https://pytorch.org/cppdocs/api/unabridged_api.html?highlight=torch%20convolution)

Thank you.

[2022-01-27 10:31] NduatiK opened #615 "Issues with for loop"
Hi all,

I am struggling to make use of the for loop in Nx when implementing a simple linear regressor. When I compile the code below, I get an error. What am I doing wrong?

[code]

Error
[code]

[2022-01-27 10:32] NduatiK commented on #615
I have also tried `Nx.reduce` and `while` so perhaps I am lacking some fundamental understanding

[2022-01-27 10:35] josevalim commented on #615
@NduatiK `for` is currently not supported in `defn`. You need to use `while`. What have you tried?

[2022-01-27 10:37] NduatiK commented on #615
Yes, let me share the error I had with that

[2022-01-27 10:43] NduatiK commented on #615
Using while, I change my train function to:
[code]

At runtime, when I call the function `ProgrammingMlBook.LinearRegression.train(x, y, 0, 0.01, 1, 0)` I get the error:
[code]

[2022-01-27 10:56] josevalim commented on #615
As the error message says, you need to pass all variables used in the `while` as arguments to the `while`:

[code]

I will try to make the error message clearer. I can probably add some macro based analysis.

[2022-01-27 10:58] NduatiK commented on #615
Yeah, I think I have solved it. I had to pass x, y and lr into the while loop. I also had to remove the outer if statement since it caused the following error:
[code]

I am not sure why the if would trip up the execution plan (not implemented in Nx?)

[2022-01-27 11:00] NduatiK commented on #615
As an aside, I initially tried using recursion but I think that caused an infinitely sized execution plan. Is there somewhere we can add a warning about that in the docs?

[2022-01-27 11:13] josevalim commented on #615
That's a bug, I will investigate it too!

[2022-01-27 11:14] NduatiK commented on #615
Thank you for the help, @josevalim!

[2022-01-27 11:21] josevalim commented on #615
I will keep this open so we can have the improvements above!

[2022-01-30 17:58] msluszniak commented on #157
@polvalente I get a solution for your problem. To calculate the `(-1)**num_permutations` you don't need to calculate the number of permutations, but simple the parity of the number. This is strictly connected with a number of inversions in sequence. In every sequence, if you swap two elements the parity of the number of inversions changes. Thus you need to calculate the number of inversions. I thi

[2022-01-30 18:03] polvalente commented on #157
@msluszniak thanks for the comment! I ended up finding just this solution in an article and then in the Jax code and added it in #597 and #603

[2022-02-02 13:47] #614 closed

[2022-02-03 16:23] dmorn commented on #511
Hey there! I hit the same error while testing `axon_onnx`, i checked out this repo at 6259450 and `mix test` responds with the following
[code]

I'm on `macOS BigSur 11.6.2`. References are indeed in the core/platform headers as pointed out @jonatanklosko!
[code]

[2022-02-03 16:40] josevalim commented on #511
@dmorn you can set `XLA_BUILD=true` so you don't get stuck. It takes a while (1.5h on an older Mac) but it should work afterwards.

Also, what is your `gcc --version`?

[2022-02-03 16:53] dmorn commented on #511
I misread [this](https://github.com/elixir-nx/nx/issues/511#issuecomment-939460998) and avoided that path, I'll try tomorrow! Thanks @josevalim!
[code]

[2022-02-03 16:56] josevalim commented on #511
I wonder if you have better luck with command line tools? Can you try `xcode-select --install`?

[2022-02-04 10:43] dmorn commented on #511
Those are already there apparently!
[code]
After hittin a bazel requirement error (need 3.7.2, got 4.2.1) the compilation is started. I'll let you know!

[2022-02-04 15:35] dmorn commented on #511
@josevalim I removed the `:filename.basedir(:user_cache, "xla")` directory, executed `XLA_BUILD=true mix test` but the problem persists! (it took 3,5 hours btw)

[2022-02-04 16:46] josevalim commented on #511
Thank you! I guess the good news is that it is then not related to the precompiled binary. The bad news is that I don't know how to address this then. :( Is that a M1 machine btw?

[2022-02-04 17:22] dmorn commented on #511
You're welcome! Intel!

[2022-02-04 18:57] josevalim opened #620 "Rename slice_axis to slice_along_axis and receive the axis as option"
That's the current API for take_along_axis, so I thought we should mirror that.

/cc @seanmor5

[2022-02-05 12:16] josevalim commented on #314
Basic support has been added thanks to @howard0su! We need to explore mechanisms so mangling $PATH is not necessary.

[2022-02-06 17:06] #620 closed

[2022-02-08 11:05] polvalente commented on #504
Edited the issue accordingly!

[2022-02-08 15:35] #511 closed

[2022-02-11 02:30] googya commented on #561
I am implementing a similar case, learned a lot from your code, thanks

[2022-02-11 02:31] googya commented on #561
I am implementing a similar case, learned a lot from your code, thanks

[2022-02-13 13:45] googya opened #641 "(MatchError) no match of right hand side value: <<195, 154, 29, 117>>"
I'm sorry, I don't know exactly what the problem is, so I can't give a proper title, I can only use part of the information in the error report as the title

I have a tiny elixir script for a linear regression case and when running, it says:

[code]

The code isn't very standardized, but it should work.
the code is as follows:

[code]

[2022-02-13 14:09] polvalente commented on #641
@googya this sounds like it could be related to #119

Could you be running into NaN or Inf somewhere else in the result?

[2022-02-13 14:20] josevalim commented on #641
@googya can you please run it against the latest main branch and let us know if you get a different error?

[2022-02-13 14:51] googya commented on #641
I change the code and build it:
[code]

The error message is different:

[code]

[2022-02-13 15:41] josevalim commented on #641
Oh, so it is for sure infinity/nan or division by zero issue. You can do `|> inspect_value` before `divide` to double check.

[2022-02-14 08:31] googya commented on #641
Right, I got a abnormal data:

#Nx.Tensor<
  f32[4][1]
  [
    [-6.941338408025027e36],
    [-2.134865587651564e38],
    [-4.390259901433068e37],
    [-Inf]
  ]

[2022-02-14 08:31] #641 closed

[2022-02-15 16:59] dmorn commented on #610
@seanmor5 [Slice](https://github.com/onnx/onnx/blob/5cf5feef5ec3fd5527b2fdb6c29780e3b705059f/docs/Operators.md#slice) is part of the example list as well. I'm on a BERT model and it requires dynamic Slice and Reshape operations.

[2022-02-16 11:56] laurglia opened #643 "Loading TorchScript JIT models in torchx"
PyTorch C++ front-end supports loading TorchScript JIT models with function `torch::jit::load`: https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/serialization/import.h#L68

It would be beneficial to have this function available in torchx because it would allow loading models that are trained in Python in Elixir without writing the code for models in Elixir.

Do you have any plans for

[2022-02-16 14:43] josevalim commented on #643
A pull request that adds this functionality into torchx would certainly be welcome!

[2022-02-17 11:41] josevalim opened #645 "pmap support"
The goal is to add `Nx.Defn.pmap`. This is a discussion of its API.

## Input

When it comes to the input, the first option is to automatically shard the input. For example:

    Nx.Defn.pmap([arg1, arg2, arg3], fun)

can shard the first argument based on the number of the devices. We can make the sharding dimensions customizable too. Something like:

    Nx.Defn.pmap([arg1, arg2, arg3], fun, shar

[2022-02-17 22:05] cigrainger commented on #645
I agree that list of arguments as input and list of outputs makes sense. Especially for the reason you suggested re: passing on the outputs. I also like the idea of a `shard map` function.

I just want to clarify a few things for myself re: terminology and capabilities as well so I'm clear on where this would fit in. I'm not super familiar with XLA, and I'm thinking in terms of 'data parallel' app

[2022-02-18 10:23] josevalim commented on #645
Correct, but we also want to add `psum`, `pmap`, and friends so we "broadcast" tensor updates to all GPUs without having to circle in and out of Nx.Defn.pmap. Going in and out of pmap will only be a necessity for when the built-in data parallel primitives on `Nx.Defn` are not enough. :)

[2022-02-19 14:44] dognotdog opened #651 "Optional operator handling update broke solve() on EXLA backend"
Seems like d19c537c862a19b44e1a18686262c6ef82eed5e0 broke `solve()` with the EXLA backend. EXLA does not have solve, and indeed the `triangular_solve()` fallback should be used, but is not, from here: https://github.com/elixir-nx/nx/blob/bdd14c4abf962caf21e68fa798dbf1063d8b450c/nx/lib/nx/lin_alg.ex#L502

The fallback should be used, but instead `solve()` on EXLA is attempted, which fails:
<img wid

[2022-02-19 14:56] howard0su commented on #314
we can close this now. it is fixed.

[2022-02-19 15:47] josevalim commented on #651
This should be fixed in main. Which SHA are you on? :)

[2022-02-19 15:47] josevalim commented on #651
In particular this commit should have solved it: https://github.com/elixir-nx/nx/commit/6f77d48b365aa174b131af88878ca559bc209630

[2022-02-19 15:48] #314 closed

[2022-02-19 15:56] dognotdog commented on #651
Cool, will test as soon as I can... looks like another part of my code broke on current head, so I can't quite tell if this is fixed, yet.

[2022-02-22 00:06] #612 closed

[2022-02-22 00:17] #550 closed

[2022-02-28 00:52] zacky1972 opened #665 "Running bench/softmax.exs in EXLA on M1 occurs EXLA.Logger error"
Hi,

I did the following steps on M1 and M1 Max Mac:

1. `git clone` the Nx repository;
2. `cd nx/exla`
3. `mix deps.get`
4. `mix run -r bench/softmax.exs`

Then, I met the following error:

[code]

I tested the following Elixir and Erlang environments and I met the above error on the both environments:

[code]

[code]

[2022-02-28 10:24] josevalim commented on #665
Hi @zacky1972! This means that the NIF module is not loaded. Did you see any error before? Maybe we ran into issue when cross compiling EXLA for M1?

[2022-03-06 21:12] nickgnd opened #668 "`Nx.runtime_normal/4` throws an error when used inside defn and the shape is set via tuple"
Hey all 👋
first of all, many many thanks for the amazing work you all are doing with this library and the related ones.
I'm newbie in ML and I'm having fun learning it by playing with Nx.

## The issue

`Nx.random_normal/4` throws an error when used inside a numerical function `defn` and the shape is set via tuple (eg. `Nx.random_normal({10, 5})`). I'm using EXLA as backend.

## My system

I'm tes